Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: taplo fmt --colors=never {staged_files}
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

add tsconfig
  tsconfig.json
Due: none

setup cargo workspace
  Cargo.toml
Due: format:taplo

placehold crates
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/src/lib.rs
Due: format:rustfmt, format:taplo

update readme
  README.md
Due: none

add pull request github actions workflow
  .github/actions/node-setup/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/actions/yarn-setup/action.yaml
  .github/workflows/pull_request.yaml
Due: none

add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add rust toolchain
  .github/actions/rust-setup/action.yaml
  rust-toolchain.toml
Due: format:taplo

format
  rust-toolchain.toml
Due: format:taplo

chore: prepare workspace (#1)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/node-setup/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/actions/yarn-setup/action.yaml
  .github/workflows/pull_request.yaml
  .gitignore
  .nvmrc
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  Cargo.toml
  LICENSE
  README.md
  biome.json
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/src/lib.rs
  justfile
  lefthook.yml
  package.json
  rust-toolchain.toml
  rustfmt.toml
  taplo.toml
  tsconfig.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

add `staged_fixed` option
  lefthook.yml
Due: none

fix rust test script
  justfile
Due: none

add core crate
  Cargo.toml
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/decoder.rs
  crates/webview-bundle/src/encoder.rs
  crates/webview-bundle/src/error.rs
  crates/webview-bundle/src/lib.rs
Due: format:rustfmt, format:taplo

hold
  .github/workflows/pull_request.yaml
Due: none

feat: implement `webview_bundle` crate (#2)
  .github/workflows/pull_request.yaml
  Cargo.toml
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/decoder.rs
  crates/webview-bundle/src/encoder.rs
  crates/webview-bundle/src/error.rs
  crates/webview-bundle/src/lib.rs
  justfile
  lefthook.yml
Due: format:rustfmt, format:taplo

impl pack command
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/commands/extract.rs
  crates/webview-bundle-cli/src/commands/extract_file.rs
  crates/webview-bundle-cli/src/commands/list.rs
  crates/webview-bundle-cli/src/commands/mod.rs
  crates/webview-bundle-cli/src/commands/pack.rs
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle-cli/src/logging.rs
  crates/webview-bundle-cli/src/main.rs
  crates/webview-bundle-cli/src/options.rs
  crates/webview-bundle-cli/src/panic.rs
  crates/webview-bundle-cli/src/prelude.rs
Due: format:rustfmt, format:taplo

update cargo
  Cargo.toml
Due: format:taplo

add justfile alias
  justfile
Due: none

add apis, impl `Display` trait
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/lib.rs
Due: format:rustfmt

add readme
  crates/webview-bundle/README.md
Due: none

add readme
  crates/webview-bundle-cli/README.md
Due: none

impl cli
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/commands/bundle.rs
  crates/webview-bundle-cli/src/commands/extract.rs
  crates/webview-bundle-cli/src/commands/extract_file.rs
  crates/webview-bundle-cli/src/commands/list.rs
  crates/webview-bundle-cli/src/commands/mod.rs
  crates/webview-bundle-cli/src/commands/pack.rs
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle-cli/src/main.rs
  crates/webview-bundle-cli/src/options.rs
  crates/webview-bundle-cli/tests/main.rs
  crates/webview-bundle-cli/tests/util.rs
Due: format:rustfmt, format:taplo

feat: implement `webview-bundle-cli` crate (#3)
  Cargo.toml
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/README.md
  crates/webview-bundle-cli/src/commands/bundle.rs
  crates/webview-bundle-cli/src/commands/extract.rs
  crates/webview-bundle-cli/src/commands/mod.rs
  crates/webview-bundle-cli/src/commands/pack.rs
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle-cli/src/logging.rs
  crates/webview-bundle-cli/src/main.rs
  crates/webview-bundle-cli/src/options.rs
  crates/webview-bundle-cli/src/panic.rs
  crates/webview-bundle-cli/src/prelude.rs
  crates/webview-bundle-cli/tests/main.rs
  crates/webview-bundle-cli/tests/util.rs
  crates/webview-bundle/README.md
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/lib.rs
  justfile
Due: format:rustfmt, format:taplo

update github actions
  .github/workflows/pull_request.yaml
Due: none

exports
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle-cli/src/main.rs
  crates/webview-bundle-cli/tests/main.rs
Due: format:rustfmt, format:taplo

impl
  .gitattributes
  Cargo.toml
  biome.json
  packages/cli/.cargo/config.toml
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/Cargo.toml
  packages/cli/__test__/index.spec.ts
  packages/cli/build.rs
  packages/cli/index.d.ts
  packages/cli/index.js
  packages/cli/npm/darwin-arm64/README.md
  packages/cli/npm/darwin-arm64/package.json
  packages/cli/npm/darwin-x64/README.md
  packages/cli/npm/darwin-x64/package.json
  packages/cli/npm/linux-arm64-gnu/README.md
  packages/cli/npm/linux-arm64-gnu/package.json
  packages/cli/npm/linux-arm64-musl/README.md
  packages/cli/npm/linux-arm64-musl/package.json
  packages/cli/npm/linux-x64-gnu/README.md
  packages/cli/npm/linux-x64-gnu/package.json
  packages/cli/npm/linux-x64-musl/README.md
  packages/cli/npm/linux-x64-musl/package.json
  packages/cli/npm/win32-arm64-msvc/README.md
  packages/cli/npm/win32-arm64-msvc/package.json
  packages/cli/npm/win32-ia32-msvc/README.md
  packages/cli/npm/win32-ia32-msvc/package.json
  packages/cli/npm/win32-x64-msvc/README.md
  packages/cli/npm/win32-x64-msvc/package.json
  packages/cli/package.json
  packages/cli/src/lib.rs
  packages/cli/vitest.config.mts
  packages/cli/webview-bundle.js
  vitest.workspace.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

remove script
  packages/cli/package.json
Due: none

add build step
  .github/workflows/pull_request.yaml
Due: none

fix
  .github/workflows/pull_request.yaml
Due: none

no test
  packages/cli/Cargo.toml
Due: format:taplo

feat: implement `@webview-bundle/cli` npm package (#4)
  .gitattributes
  .github/workflows/pull_request.yaml
  Cargo.toml
  biome.json
  crates/webview-bundle-cli/Cargo.toml
  crates/webview-bundle-cli/src/lib.rs
  crates/webview-bundle-cli/src/main.rs
  crates/webview-bundle-cli/tests/main.rs
  packages/cli/.cargo/config.toml
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/Cargo.toml
  packages/cli/__test__/index.spec.ts
  packages/cli/build.rs
  packages/cli/index.d.ts
  packages/cli/index.js
  packages/cli/npm/darwin-arm64/README.md
  packages/cli/npm/darwin-arm64/package.json
  packages/cli/npm/darwin-x64/README.md
  packages/cli/npm/darwin-x64/package.json
  packages/cli/npm/linux-arm64-gnu/README.md
  packages/cli/npm/linux-arm64-gnu/package.json
  packages/cli/npm/linux-arm64-musl/README.md
  packages/cli/npm/linux-arm64-musl/package.json
  packages/cli/npm/linux-x64-gnu/README.md
  packages/cli/npm/linux-x64-gnu/package.json
  packages/cli/npm/linux-x64-musl/README.md
  packages/cli/npm/linux-x64-musl/package.json
  packages/cli/npm/win32-arm64-msvc/README.md
  packages/cli/npm/win32-arm64-msvc/package.json
  packages/cli/npm/win32-ia32-msvc/README.md
  packages/cli/npm/win32-ia32-msvc/package.json
  packages/cli/npm/win32-x64-msvc/README.md
  packages/cli/npm/win32-x64-msvc/package.json
  packages/cli/package.json
  packages/cli/src/lib.rs
  packages/cli/vitest.config.mts
  packages/cli/webview-bundle.js
  vitest.workspace.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

wip
  Cargo.toml
  biome.json
  crates/webview-bundle/src/decoder.rs
  package.json
  packages/binding/.cargo/config.toml
  packages/binding/.gitignore
  packages/binding/.npmignore
  packages/binding/Cargo.toml
  packages/binding/__test__/index.spec.ts
  packages/binding/binding.d.ts
  packages/binding/binding.js
  packages/binding/build.rs
  packages/binding/index.d.ts
  packages/binding/index.js
  packages/binding/npm/darwin-arm64/README.md
  packages/binding/npm/darwin-arm64/package.json
  packages/binding/npm/darwin-x64/README.md
  packages/binding/npm/darwin-x64/package.json
  packages/binding/npm/linux-arm64-gnu/README.md
  packages/binding/npm/linux-arm64-gnu/package.json
  packages/binding/npm/linux-arm64-musl/README.md
  packages/binding/npm/linux-arm64-musl/package.json
  packages/binding/npm/linux-x64-gnu/README.md
  packages/binding/npm/linux-x64-gnu/package.json
  packages/binding/npm/linux-x64-musl/README.md
  packages/binding/npm/linux-x64-musl/package.json
  packages/binding/npm/win32-arm64-msvc/README.md
  packages/binding/npm/win32-arm64-msvc/package.json
  packages/binding/npm/win32-ia32-msvc/README.md
  packages/binding/npm/win32-ia32-msvc/package.json
  packages/binding/npm/win32-x64-msvc/README.md
  packages/binding/npm/win32-x64-msvc/package.json
  packages/binding/package.json
  packages/binding/src/lib.rs
  packages/binding/vitest.config.mts
  packages/cli/Cargo.toml
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

wip
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/lib.rs
  justfile
  packages/binding/__test__/index.spec.ts
  packages/binding/binding.d.ts
  packages/binding/binding.js
  packages/binding/index.d.ts
  packages/binding/index.js
  packages/binding/package.json
  packages/binding/src/lib.rs
Due: format:rustfmt, format:biome

add
  crates/webview-bundle-cli/CHANGELOG.md
  crates/webview-bundle/CHANGELOG.md
  justfile
  packages/binding/CHANGELOG.md
  packages/binding/README.md
  packages/binding/__test__/index.spec.ts
  packages/cli/CHANGELOG.md
  packages/cli/README.md
Due: format:biome

wip
  .yarnrc.yml
  justfile
  package.json
  tsconfig.json
  vitest.workspace.json
  xtask/README.md
  xtask/package.json
  xtask/src/fsUtils.ts
  xtask/src/gitUtils.ts
  xtask/src/index.ts
  xtask/src/release/ReleaseCommand.ts
  xtask/src/release/changes.ts
  xtask/src/release/conventionalCommit.spec.ts
  xtask/src/release/conventionalCommit.ts
  xtask/src/release/package.ts
  xtask/src/release/versioning.ts
  xtask/vitest.config.mts
  yarn.lock
Due: format:biome

wip
  CHANGELOG.md
  releases.json
  xtask/package.json
  xtask/src/fsUtils.ts
  xtask/src/githubUtils.ts
  xtask/src/index.ts
  xtask/src/release/ReleaseCommand.ts
  xtask/src/release/action.ts
  xtask/src/release/change.ts
  xtask/src/release/changelog.ts
  xtask/src/release/changes.ts
  xtask/src/release/config.ts
  xtask/src/release/conventionalCommit.spec.ts
  xtask/src/release/package.ts
  xtask/src/release/versionedFile.ts
  xtask/src/release/versioning.ts
  xtask/src/workspaceUtils.ts
  yarn.lock
Due: format:biome

wip
  crates/webview-bundle-cli/CHANGELOG.md
  packages/binding/.gitignore
  packages/cli/.gitignore
  packages/cli/package.json
  releases.json
  xtask/package.json
  xtask/src/gitUtils.ts
  xtask/src/index.ts
  xtask/src/release/PrepareReleaseCommand.ts
  xtask/src/release/ReleaseCommand.ts
  xtask/src/release/action.ts
  xtask/src/release/change.ts
  xtask/src/release/changelog.ts
  xtask/src/release/changes.ts
  xtask/src/release/config.ts
  xtask/src/release/conventionalCommit.spec.ts
  xtask/src/release/package.ts
  xtask/src/release/versionedFile.ts
  xtask/src/workspaceUtils.ts
  yarn.lock
Due: format:biome

wip
  xtask/src/gitUtils.ts
  xtask/src/release/PrepareReleaseCommand.ts
Due: format:biome

wip
  xtask/package.json
  xtask/src/release/PrepareReleaseCommand.ts
  yarn.lock
Due: format:biome

chore: prepare release
  CHANGELOG.md
  packages/binding/CHANGELOG.md
  packages/binding/Cargo.toml
  packages/binding/npm/darwin-arm64/package.json
  packages/binding/npm/darwin-x64/package.json
  packages/binding/npm/linux-arm64-gnu/package.json
  packages/binding/npm/linux-arm64-musl/package.json
  packages/binding/npm/linux-x64-gnu/package.json
  packages/binding/npm/linux-x64-musl/package.json
  packages/binding/npm/win32-arm64-msvc/package.json
  packages/binding/npm/win32-ia32-msvc/package.json
  packages/binding/npm/win32-x64-msvc/package.json
  packages/binding/package.json
Due: format:taplo
