Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: yarn taplo fmt --colors=never {staged_files}
      stage_fixed: true
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    check:rust:
      glob: "*.rs"
      run: cargo clippy --workspace
    check:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

upgrade yarn 4.11.0
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
Due: format:biome, check:biome

wip
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/config.ts
  packages/cli/src/format.spec.ts
  packages/cli/src/format.ts
  packages/cli/src/fs.ts
  packages/cli/src/index.ts
  packages/cli/src/mime-type.spec.ts
  packages/cli/src/mime-type.ts
  packages/cli/src/module.ts
  packages/cli/tsdown.cli.config.ts
  packages/cli/wvb.config.ts
  yarn.lock
Due: format:biome, check:biome

wip
  biome.json
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/remote-upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/config/package.json
  packages/config/src/config.ts
  packages/config/src/constants.ts
  packages/config/src/fs.ts
  packages/config/src/index.ts
  packages/config/src/module.ts
  packages/config/src/remote/index.ts
  packages/config/src/remote/remote.ts
  packages/config/src/signature/index.ts
  packages/config/src/signature/signature.ts
  packages/config/tests/fixture/yarn-pnp/.gitignore
  packages/config/tests/fixture/yarn-pnp/.pnp.cjs
  packages/config/tests/fixture/yarn-pnp/.pnp.loader.mjs
  packages/config/tests/fixture/yarn-pnp/.yarnrc.yml
  packages/config/tests/fixture/yarn-pnp/load.js
  packages/config/tests/fixture/yarn-pnp/load.mjs
  packages/config/tests/fixture/yarn-pnp/package.json
  packages/config/tests/fixture/yarn-pnp/tsconfig.json
  packages/config/tests/fixture/yarn-pnp/wvb.config.js
  packages/config/tests/fixture/yarn-pnp/wvb.config.mjs
  packages/config/tests/fixture/yarn-pnp/wvb.config.ts
  packages/config/tests/fixture/yarn-pnp/yarn.lock
  packages/config/tests/load.spec.ts
  packages/config/tsconfig.json
  packages/config/tsdown.config.ts
  packages/config/vitest.config.ts
  xtask/package.json
  yarn.lock
Due: format:biome, check:biome

wip
  biome.json
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/remote-s3-uplaod.ts
  packages/cli/src/commands/remote-upload.ts
  packages/cli/src/config.ts
  packages/cli/src/constants.ts
  packages/cli/src/fs.ts
  packages/cli/src/module.ts
  packages/cli/tsconfig.json
  packages/cli/wvb.config.ts
  packages/config/package.json
  packages/config/src/config.ts
  packages/config/src/index.ts
  packages/config/tests/fixture/yarn-pnp/.gitignore
  packages/config/tests/fixture/yarn-pnp/.pnp.cjs
  packages/config/tests/fixture/yarn-pnp/.pnp.loader.mjs
  packages/config/tests/fixture/yarn-pnp/.yarnrc.yml
  packages/config/tests/fixture/yarn-pnp/load.js
  packages/config/tests/fixture/yarn-pnp/load.mjs
  packages/config/tests/fixture/yarn-pnp/package.json
  packages/config/tests/fixture/yarn-pnp/tsconfig.json
  packages/config/tests/fixture/yarn-pnp/wvb.config.js
  packages/config/tests/fixture/yarn-pnp/wvb.config.mjs
  packages/config/tests/fixture/yarn-pnp/wvb.config.ts
  packages/config/tests/fixture/yarn-pnp/yarn.lock
  packages/config/tests/load.spec.ts
  packages/remote/base/CHANGELOG.md
  packages/remote/base/README.md
  packages/remote/base/package.json
  packages/remote/base/tsconfig.json
  yarn.lock
Due: format:biome, check:biome

wip
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/remote/remote.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/core/src/version.rs
  packages/node/src/bundle.rs
  packages/node/src/remote/remote.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/remote/base/CHANGELOG.md
  packages/remote/base/README.md
  packages/remote/base/package.json
  packages/remote/base/tsconfig.json
  yarn.lock
Due: format:rustfmt, check:rust

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/metadata.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/node/src/source.rs
Due: format:rustfmt, format:taplo, check:rust

wip
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/source/versions.rs
Due: format:rustfmt, check:rust

wip
  packages/core/.gitignore
  packages/core/src/error.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/metadata.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/fixtures.rs
  packages/core/src/testing/fs.rs
  packages/core/src/testing/mod.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/fixtures/bundles/builtin/versions.json
  packages/core/tests/fixtures/bundles/manifest.json
  packages/core/tests/fixtures/bundles/nextjs/1.0.0/nextjs_1.0.0.wvb
  packages/core/tests/fixtures/bundles/nextjs/1.1.0/nextjs_1.1.0.wvb
  packages/core/tests/fixtures/bundles/remote/versions.json
Due: format:rustfmt, check:rust

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/error.rs
  packages/core/src/integrity/checker.rs
  packages/core/src/integrity/maker.rs
  packages/core/src/signature/mod.rs
  packages/core/src/source/current.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/tests/fixtures/bundles/builtin/manifest.json
  packages/core/tests/fixtures/bundles/builtin/nextjs/1.0.0/nextjs_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/manifest.json
  packages/core/tests/fixtures/bundles/remote/nextjs/1.0.0/nextjs_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/nextjs/1.1.0/nextjs_1.1.0.wvb
Due: format:rustfmt, format:taplo, check:rust

wip
  packages/core/src/source/current.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/source/timestamp.rs
Due: format:rustfmt, check:rust

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/consts.rs
  packages/core/src/error.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/local.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/signature/mod.rs
  packages/core/src/source/current.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/source/timestamp.rs
  packages/core/src/source/utils.rs
  packages/core/src/testing/fixtures.rs
  packages/core/src/testing/fs.rs
  packages/core/src/testing/mod.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/fixtures/bundles/builtin/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/builtin/manifest.json
  packages/core/tests/fixtures/bundles/remote/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/app_1.1.0.wvb
  packages/core/tests/fixtures/bundles/remote/manifest.json
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
Due: format:rustfmt, format:taplo, check:rust

fix
  packages/node/src/signature.rs
Due: format:rustfmt, check:rust

fix
  packages/node/src/updater.rs
Due: format:rustfmt, check:rust

fix
  xtask/commands/attw.ts
Due: format:biome, check:biome

`macos-13` -> `macos-15-intel`
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

update
  examples/electron-forge-vite/.gitignore
  examples/electron-forge-vite/README.md
  examples/electron-forge-vite/install.mjs
  examples/electron-forge-vite/package-lock.json
Due: format:biome, check:biome

update
  .yarnrc.yml
  BENCHMARKS.md
  bench/electron/index.bench.ts
  bench/fixtures/bundles/manifest.json
  bench/fixtures/bundles/versions.json
  bench/tools/src/fixtures.ts
Due: format:biome, check:biome

add mise
  mise.toml
Due: format:taplo

refactor 'node-setup' action to use 'jdx/mise-action' adn remove unused inputs
  .github/actions/node-setup/action.yaml
Due: none

pin github actions to specific SHAs for security
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

support arch
  .yarnrc.yml
Due: none

chore: update codes (#85)
  .yarnrc.yml
  BENCHMARKS.md
  bench/electron/index.bench.ts
  bench/fixtures/bundles/manifest.json
  bench/fixtures/bundles/versions.json
  bench/tools/src/fixtures.ts
  examples/electron-forge-vite/.gitignore
  examples/electron-forge-vite/README.md
  examples/electron-forge-vite/install.mjs
  examples/electron-forge-vite/package-lock.json
Due: format:biome, check:biome

chore: add mise tools (#84)
  mise.toml
Due: format:taplo

chore: pin github action versions for security (#86)
  .github/actions/node-setup/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

wip
  packages/remote/aws-pulumi/src/lambda.ts
  packages/remote/aws/package.json
  packages/remote/aws/src/operations/getBundleDeployment.ts
  packages/remote/aws/src/operations/listAllBundleDeployments.ts
  packages/remote/aws/src/operations/listAllBundles.ts
  packages/remote/aws/src/operations/listBundleDeployments.ts
  packages/remote/aws/src/operations/listBundles.ts
  packages/remote/aws/src/remote.ts
  packages/remote/aws/src/types.ts
  packages/remote/cloudflare/package.json
  packages/remote/cloudflare/src/index.ts
  packages/remote/cloudflare/src/middlewares.ts
  packages/remote/cloudflare/src/operations/getBundleDeployment.ts
  packages/remote/cloudflare/src/operations/listAllBundleDeployments.ts
  packages/remote/cloudflare/src/operations/listBundleDeployments.ts
  packages/remote/cloudflare/src/types.ts
  yarn.lock
Due: format:biome, check:biome

`allowOtherVersions`
  packages/remote/aws-pulumi/src/provider.ts
Due: format:biome, check:biome

update
  examples/remote-aws-with-pulumi/.gitignore
  examples/remote-aws-with-pulumi/Pulumi.yaml
  examples/remote-aws-with-pulumi/README.md
  examples/remote-aws-with-pulumi/tsconfig.json
  examples/remote-cloudflare-with-pulumi/.gitignore
  examples/remote-cloudflare-with-pulumi/README.md
  examples/remote-cloudflare-with-pulumi/tsconfig.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/fs.ts
  packages/cli/src/log.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/remote/cloudflare-pulumi/src/index.ts
  yarn.lock
Due: format:biome, check:biome

update yarn
  yarn.lock
Due: none

works
  examples/remote-cloudflare-with-pulumi/README.md
  examples/remote-cloudflare-with-pulumi/index.ts
  examples/remote-cloudflare-with-pulumi/package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/tsconfig.json
  packages/config/src/create.ts
  packages/config/src/index.ts
  packages/core/README.md
  packages/remote/aws/src/remote.ts
  packages/remote/aws/src/types.ts
  packages/remote/cloudflare-pulumi/src/provider.ts
  packages/remote/cloudflare-pulumi/src/types.ts
  packages/remote/cloudflare/package.json
  packages/remote/cloudflare/src/index.ts
  packages/remote/cloudflare/src/middlewares.ts
  packages/remote/cloudflare/src/types.ts
  packages/remote/cloudflare/tsdown.config.ts
  yarn.lock
Due: format:biome, check:biome

support partial request
  Cargo.toml
  packages/cli/package.json
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/log.ts
  packages/cli/src/mime-type.spec.ts
  packages/cli/src/mime-type.ts
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/index.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/mod.rs
  packages/core/tests/fixtures/bundles/builtin/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/app_1.1.0.wvb
  packages/node/Cargo.toml
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/bundle.rs
  packages/node/src/lib.rs
  packages/node/src/mime.rs
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

add test cases
  packages/core/src/protocol/bundle.rs
Due: format:rustfmt, check:rust

fix test
  packages/node/__test__/bundle.spec.ts
Due: format:biome, check:biome

refactor
  packages/node/src/protocol.rs
Due: format:rustfmt, check:rust

feat(core,node,cli): change bundle index entry, supports HTTP partial range request (#89)
  Cargo.toml
  packages/cli/package.json
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/log.ts
  packages/cli/src/mime-type.spec.ts
  packages/cli/src/mime-type.ts
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/index.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/mod.rs
  packages/core/tests/fixtures/bundles/builtin/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/app_1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/app_1.1.0.wvb
  packages/node/Cargo.toml
  packages/node/__test__/bundle.spec.ts
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/bundle.rs
  packages/node/src/lib.rs
  packages/node/src/mime.rs
  packages/node/src/protocol.rs
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

config file supports
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/config.ts
  packages/cli/src/console.ts
  packages/cli/src/fs.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/hono-logger.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/config/src/extract.ts
  packages/config/src/index.ts
  packages/config/src/serve.ts
Due: format:biome, check:biome

feat(config,cli): supports cli to read config file (#92)
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/config.ts
  packages/cli/src/console.ts
  packages/cli/src/fs.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/hono-logger.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/config/src/extract.ts
  packages/config/src/index.ts
  packages/config/src/serve.ts
Due: format:biome, check:biome
