Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: taplo fmt --colors=never {staged_files}

format:biome:
  run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore: update release workflow, extract xtask config schema (#31)
  .github/workflows/release.yaml
  .gitignore
  xtask.json
  xtask/Cargo.toml
  xtask/src/commands/mod.rs
  xtask/src/commands/schema.rs
  xtask/src/config.rs
  xtask/src/main.rs
Due: format:rustfmt, format:taplo

fix
  .github/workflows/release.yaml
Due: none

0.0.0
  packages/node-binding/package.json
Due: none

fix
  packages/electron/tsup.config.ts
Due: format:biome

?
  packages/electron/tsup.config.mts
Due: format:biome

fix yarn npm publish
  xtask/src/versioned_file/package_json.rs
Due: format:rustfmt

update xtask
  xtask.json
Due: none

22
  .github/actions/node-setup/action.yaml
Due: none

chore: fix release workflow (#32)
  .github/workflows/release.yaml
  packages/electron/tsup.config.mts
  packages/electron/tsup.config.ts
  packages/node-binding/package.json
  xtask/src/versioned_file/package_json.rs
Due: format:rustfmt, format:biome

build script
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/node-binding/package.json
Due: none

fix: build script (#34)
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/node-binding/package.json
Due: none

fix: build script
  .github/workflows/release.yaml
Due: none

wip
  .github/workflows/ci.yaml
  biome.json
  justfile
  package.json
  taplo.toml
  xtask-ts/action.ts
  xtask-ts/cli.ts
  xtask-ts/commands/release-command.ts
  xtask-ts/consts.ts
  xtask-ts/package.json
  xtask-ts/package.ts
  xtask-ts/tsconfig.json
  xtask-ts/version.ts
  xtask-ts/versioned-file.ts
  yarn.lock
Due: format:taplo, format:biome

fix
  crates/webview-bundle-tauri/CHANGELOG.md
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle/CHANGELOG.md
  crates/webview-bundle/Cargo.toml
Due: format:taplo

fix
  .github/workflows/ci.yaml
Due: none

fix
  biome.json
Due: none

fix
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix: build script
  justfile
Due: none

test
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
  packages/cli/package.json
  packages/node-binding/package.json
Due: format:taplo

install stable
  .github/workflows/ci.yaml
Due: none

update
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix more
  .cargo/config.toml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: format:taplo

drop win ia32
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  packages/cli/npm/win32-ia32-msvc/README.md
  packages/cli/npm/win32-ia32-msvc/package.json
  packages/cli/package.json
  packages/node-binding/npm/win32-ia32-msvc/README.md
  packages/node-binding/npm/win32-ia32-msvc/package.json
  packages/node-binding/package.json
Due: none

rm
  .github/workflows/ci.yaml
Due: none

fix: build script (#36)
  .cargo/config.toml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
  packages/cli/npm/win32-ia32-msvc/README.md
  packages/cli/npm/win32-ia32-msvc/package.json
  packages/cli/package.json
  packages/node-binding/npm/win32-ia32-msvc/README.md
  packages/node-binding/npm/win32-ia32-msvc/package.json
  packages/node-binding/package.json
Due: format:taplo

node22 docker
  .github/workflows/docker.yaml
  alpine.Dockerfile
  debian.Dockerfile
Due: none

naming
  .github/workflows/docker.yaml
Due: none

ops: add docker image (#37)
  .github/workflows/docker.yaml
  alpine.Dockerfile
  debian.Dockerfile
Due: none

fix: build script
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ops: add debian aarch64 docker image
  .github/workflows/docker.yaml
  debian-aarch64.Dockerfile
Due: none

fix: add debian aarch64 docker image
  .github/workflows/docker.yaml
Due: none

update license
  LICENSE
Due: none

fix: napi artifacts
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/node-binding/package.json
  xtask/cli.ts
  xtask/commands/artifacts-napi-command.ts
Due: format:biome

fix
  xtask/cli.ts
  xtask/commands/artifacts-napi-command.ts
Due: format:biome

add optional deps
  package.json
  packages/cli/package.json
  packages/node-binding/npm/darwin-arm64/package.json
  packages/node-binding/npm/darwin-x64/package.json
  packages/node-binding/npm/linux-arm64-gnu/package.json
  packages/node-binding/npm/linux-arm64-musl/package.json
  packages/node-binding/npm/linux-x64-gnu/package.json
  packages/node-binding/npm/linux-x64-musl/package.json
  packages/node-binding/npm/win32-arm64-msvc/package.json
  packages/node-binding/npm/win32-x64-msvc/package.json
  packages/node-binding/package.json
  yarn.lock
Due: none

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
