Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: yarn taplo fmt --colors=never {staged_files}
  stage_fixed: true

format:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check:rust:
  run: cargo clippy --workspace

check:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix
  .github/workflows/ci.yaml
Due: none

fix
  packages/tauri/permissions/schemas/schema.json
  xtask.json
Due: none

fix
  packages/tauri/permissions/schemas/schema.json
Due: none

fix
  lefthook.yml
Due: none

fix: xtask wrong package path (#64)
  lefthook.yml
  xtask.json
Due: none

upgrade yarn 4.10.3
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  package.json
Due: format:biome, check:biome

chore: upgrade yarn 4.10.3 (#65)
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  package.json
Due: format:biome, check:biome

works
  packages/cli/nextjs.wvb
  packages/core/README.md
  packages/core/src/error.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/updater/updater.rs
  packages/node/__test__/bundle.spec.ts
  packages/node/__test__/remote.spec.ts
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/package.json
  packages/node/src/bundle.rs
  packages/node/src/remote/remote.rs
  packages/node/src/updater.rs
  packages/remote/aws-pulumi/.gitignore
  packages/remote/aws-pulumi/lambda/origin-response.ts
  packages/remote/aws-pulumi/package.json
  packages/remote/aws-pulumi/src/lambda.ts
  packages/remote/aws-pulumi/src/provider.ts
  packages/remote/aws-pulumi/testgen.js
  packages/remote/aws/deployment.json
  packages/remote/aws/package.json
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/origin-response.ts
  packages/remote/aws/src/remote.ts
  packages/remote/cloudflare/src/index.ts
  packages/remote/cloudflare/src/operations/getBundleDataResponse.ts
  yarn.lock
Due: format:rustfmt, format:biome, check:rust, check:biome

ignore
  biome.json
Due: none

refactor(remote): change remote spec (#66)
  biome.json
  packages/cli/nextjs.wvb
  packages/core/README.md
  packages/core/src/error.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/updater/updater.rs
  packages/node/__test__/bundle.spec.ts
  packages/node/__test__/remote.spec.ts
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/package.json
  packages/node/src/bundle.rs
  packages/node/src/remote/remote.rs
  packages/node/src/updater.rs
  packages/remote/aws-pulumi/.gitignore
  packages/remote/aws-pulumi/lambda/origin-response.ts
  packages/remote/aws-pulumi/package.json
  packages/remote/aws-pulumi/src/lambda.ts
  packages/remote/aws-pulumi/src/provider.ts
  packages/remote/aws-pulumi/testgen.js
  packages/remote/aws/deployment.json
  packages/remote/aws/package.json
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/origin-response.ts
  packages/remote/aws/src/remote.ts
  packages/remote/cloudflare/src/index.ts
  packages/remote/cloudflare/src/operations/getBundleDataResponse.ts
  yarn.lock
Due: format:rustfmt, format:biome, check:rust, check:biome

add ipc features
  packages/electron/package.json
  packages/electron/src/api-interface.ts
  packages/electron/src/index.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/preload/index.ts
  packages/electron/src/preload/preload.ts
  packages/electron/src/renderer/api.ts
  packages/electron/src/renderer/index.ts
  packages/electron/src/webview-bundle.ts
  packages/electron/tsdown.config.ts
Due: format:biome, check:biome

fix path
  xtask.json
Due: none

separate handlers
  packages/remote/aws-pulumi/.gitignore
  packages/remote/aws-pulumi/lambda/origin-request.ts
  packages/remote/aws-pulumi/lambda/origin-response.ts
  packages/remote/aws-pulumi/package.json
  packages/remote/aws-pulumi/src/code.ts
  packages/remote/aws-pulumi/src/index.ts
  packages/remote/aws-pulumi/src/lambda.ts
  packages/remote/aws-pulumi/src/provider.ts
  packages/remote/aws-pulumi/test-lambda-codegen.ts
  packages/remote/aws/package.json
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/origin-request/handler.ts
  packages/remote/aws/src/origin-request/index.ts
  packages/remote/aws/src/origin-response/handler.ts
  packages/remote/aws/src/origin-response/index.ts
  packages/remote/aws/tsdown.config.ts
Due: format:biome, check:biome

update
  examples/remote-cloudflare-with-pulumi/Pulumi.dev.yaml
  yarn.lock
Due: none

update example
  examples/electron-simple/package.json
  examples/electron-simple/src/main.ts
  examples/electron-simple/src/preload.ts
Due: format:biome, check:biome

fix(xtask): xtask package path is wrong (#67)
  xtask.json
Due: none

feat(electron): add electron ipc features (#68)
  examples/electron-simple/package.json
  examples/electron-simple/src/main.ts
  examples/electron-simple/src/preload.ts
  packages/electron/package.json
  packages/electron/src/api-interface.ts
  packages/electron/src/index.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/preload/index.ts
  packages/electron/src/preload/preload.ts
  packages/electron/src/renderer/api.ts
  packages/electron/src/renderer/index.ts
  packages/electron/src/webview-bundle.ts
  packages/electron/tsdown.config.ts
Due: format:biome, check:biome

refactor(remote-aws,remote-aws-pulumi): separate lambda edge handlers as exports paths (#69)
  examples/remote-cloudflare-with-pulumi/Pulumi.dev.yaml
  packages/remote/aws-pulumi/.gitignore
  packages/remote/aws-pulumi/lambda/origin-request.ts
  packages/remote/aws-pulumi/lambda/origin-response.ts
  packages/remote/aws-pulumi/package.json
  packages/remote/aws-pulumi/src/code.ts
  packages/remote/aws-pulumi/src/index.ts
  packages/remote/aws-pulumi/src/lambda.ts
  packages/remote/aws-pulumi/src/provider.ts
  packages/remote/aws-pulumi/test-lambda-codegen.ts
  packages/remote/aws/package.json
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/origin-request/handler.ts
  packages/remote/aws/src/origin-request/index.ts
  packages/remote/aws/src/origin-response/handler.ts
  packages/remote/aws/src/origin-response/index.ts
  packages/remote/aws/tsdown.config.ts
  yarn.lock
Due: format:biome, check:biome

wip
  Cargo.toml
  biome.json
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/signature/ecdsa.rs
  packages/core/src/integrity/signature/ed25519.rs
  packages/core/src/integrity/signature/mod.rs
  packages/core/src/integrity/signature/signer.rs
  packages/core/src/integrity/signature/verifier.rs
  packages/core/src/lib.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/tests/fixtures/ed25519/private.pem
  packages/core/tests/fixtures/ed25519/public.pem
  packages/core/tests/remote_uploader.rs
  packages/tauri/permissions/schemas/schema.json
Due: format:rustfmt, format:taplo, check:rust

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/integrity/signature/ecdsa.rs
  packages/core/src/integrity/signature/ecdsa_p256.rs
  packages/core/src/integrity/signature/mod.rs
  packages/core/src/integrity/signature/signer.rs
Due: format:rustfmt, format:taplo, check:rust

add integrity support
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/signature/ecdsa_p256.rs
  packages/core/src/integrity/signature/ed25519.rs
  packages/core/src/integrity/signature/mod.rs
  packages/core/src/integrity/signature/signer.rs
  packages/core/src/integrity/signature/verifier.rs
  packages/core/src/integrity/verify.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/integrity.rs
  packages/core/src/remote/uploader/mod.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/fixtures/ed25519/private.pem
  packages/core/tests/fixtures/ed25519/public.pem
  packages/electron/src/remote.ts
  packages/node/Cargo.toml
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/integrity.rs
  packages/node/src/js.rs
  packages/node/src/lib.rs
  packages/node/src/remote/remote.rs
  packages/node/src/remote/uploader/integrity.rs
  packages/node/src/remote/uploader/mod.rs
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/updater.rs
  packages/tauri/src/desktop.rs
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

feat(core,node): add integrity support (#74)
  Cargo.toml
  biome.json
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/verify.rs
  packages/core/src/lib.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/integrity.rs
  packages/core/src/remote/uploader/mod.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/remote_uploader.rs
  packages/electron/src/remote.ts
  packages/node/Cargo.toml
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/integrity.rs
  packages/node/src/js.rs
  packages/node/src/lib.rs
  packages/node/src/remote/remote.rs
  packages/node/src/remote/uploader/integrity.rs
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/updater.rs
  packages/tauri/permissions/schemas/schema.json
  packages/tauri/src/desktop.rs
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/integrity/checker.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/policy.rs
  packages/core/src/integrity/verify.rs
  packages/core/src/lib.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/mod.rs
  packages/core/src/updater/updater.rs
Due: format:rustfmt, format:taplo, check:rust

wip
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ed25519.rs
Due: format:rustfmt, format:taplo, check:rust

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/integrity/checker.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/maker.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/integrity.rs
  packages/core/src/remote/uploader/mod.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/mod.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/updater/updater.rs
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/integrity.rs
  packages/node/src/lib.rs
  packages/node/src/remote/remote.rs
  packages/node/src/remote/uploader/integrity.rs
  packages/node/src/remote/uploader/mod.rs
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/signature.rs
  packages/node/src/updater.rs
  packages/remote/aws/src/origin-response/handler.ts
  packages/remote/aws/src/utils.spec.ts
  packages/remote/aws/src/utils.ts
  packages/remote/aws/vitest.config.ts
  packages/remote/cloudflare/src/operations/getBundleDataResponse.ts
  vitest.workspace.ts
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

node binding
  packages/core/src/integrity/checker.rs
  packages/core/src/integrity/policy.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/integrity.rs
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/signature.rs
  packages/node/src/updater.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

fix
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/signature.rs
  packages/node/src/updater.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

wip
  xtask/changes.ts
  xtask/cli.ts
  xtask/commands/prepare-release.ts
  xtask/package.json
  xtask/staged.ts
  xtask/version.ts
  xtask/versioned-file.ts
  yarn.lock
Due: format:biome, check:biome

prepare release with staged
  biome.json
  xtask/.gen/staged.json
  xtask/changes.ts
  xtask/commands/prepare-release.ts
  xtask/commands/release.ts
  xtask/package.ts
  xtask/staged.ts
Due: format:biome, check:biome

1.91.0
  rust-toolchain.toml
Due: format:taplo

1.91.0
  .github/actions/rust-setup/action.yaml
Due: none

1.91.0
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

update
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
Due: format:taplo

add retry
  xtask/commands/release.ts
  xtask/package.json
  yarn.lock
Due: format:biome, check:biome

remove npm token
  xtask/commands/release.ts
Due: format:biome, check:biome

select release targets
  xtask/commands/release.ts
Due: format:biome, check:biome

feat(xtask): add prepare release command (#75)
  biome.json
  xtask/.gen/staged.json
  xtask/changes.ts
  xtask/cli.ts
  xtask/commands/prepare-release.ts
  xtask/commands/release.ts
  xtask/package.json
  xtask/package.ts
  xtask/staged.ts
  xtask/version.ts
  xtask/versioned-file.ts
  yarn.lock
Due: format:biome, check:biome

wip
  .gitignore
  packages/cli/package.json
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/mime-type.spec.ts
  packages/cli/src/utils/mime-type.ts
  packages/cli/tsdown.config.ts
  xtask/console.ts
  yarn.lock
Due: format:biome, check:biome

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
  check:rust: any of: *.rs
  check:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
