Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: taplo fmt --colors=never {staged_files}
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

add ci workflow
  .github/workflows/ci.yaml
Due: none

fix
  packages/node-binding/index.cjs
Due: format:biome

chore: add attw, typecheck ci setp (#47)
  .github/workflows/ci.yaml
  .gitignore
  justfile
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/electron/package.json
  packages/electron/tsconfig.json
  packages/electron/tsup.config.ts
  packages/node-binding/index.cjs
  packages/node-binding/index.d.cts
  packages/node-binding/package.json
  packages/node-binding/tsconfig.json
  packages/publisher-github/package.json
  packages/publisher-github/tsconfig.json
  packages/publisher-github/tsup.config.ts
  packages/publisher/package.json
  packages/publisher/tsconfig.json
  packages/publisher/tsup.config.ts
  xtask/action.ts
  xtask/child_process.ts
  xtask/cli.ts
  xtask/commands/attw-command.ts
  xtask/package.json
  xtask/tsconfig.json
  xtask/workspaces.ts
  yarn.lock
Due: format:biome

wip
  biome.json
  packages/cli-deployer/CHANGELOG.md
  packages/cli-deployer/README.md
  packages/cli-deployer/package.json
  packages/cli-deployer/src/index.ts
  packages/cli-deployer/src/meta/index.ts
  packages/cli-deployer/tsconfig.json
  packages/cli-deployer/tsdown.config.ts
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/pack.ts
  packages/cli/src/console.ts
  packages/cli/src/log.ts
  packages/cli/src/logging.ts
  packages/cli/src/main.ts
  packages/node-binding/binding.d.cts
  packages/node-binding/index.d.cts
  packages/node-binding/index.d.ts
  packages/node-binding/src/lib.rs
  yarn.lock
Due: format:rustfmt, format:biome

wip
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/README.md
  crates/cli/src/commands/bundle.rs
  crates/cli/src/commands/extract.rs
  crates/cli/src/commands/mod.rs
  crates/cli/src/commands/pack.rs
  crates/cli/src/lib.rs
  crates/cli/src/logging.rs
  crates/cli/src/main.rs
  crates/cli/src/options.rs
  crates/cli/src/panic.rs
  crates/cli/src/prelude.rs
  crates/cli/tests/main.rs
  crates/cli/tests/util.rs
  packages/api/CHANGELOG.md
  packages/api/README.md
  packages/api/package.json
  packages/api/src/env.spec.ts
  packages/api/src/env.ts
  packages/api/src/index.ts
  packages/api/src/invoke/electron.ts
  packages/api/src/invoke/index.ts
  packages/api/src/invoke/tauri.ts
  packages/api/src/messages/core.ts
  packages/api/src/messages/updater.ts
  packages/api/tsconfig.json
  packages/api/tsdown.config.ts
  packages/api/vitest.config.ts
  packages/electron/src/updater/index.ts
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

wip
  packages/api/src/global.d.ts
  packages/api/src/index.ts
  packages/api/src/invoke.ts
  packages/api/src/invoke/electron.ts
  packages/api/src/invoke/index.ts
  packages/api/src/invoke/tauri.ts
  packages/api/src/messages.ts
  packages/api/src/messages/core.ts
Due: format:biome

wip
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/bundle.rs
  crates/core/src/decoder.rs
  crates/core/src/index.rs
  crates/core/src/lib.rs
  crates/core/src/reader.rs
  crates/core/src/version.rs
  crates/updater/Cargo.toml
  crates/updater/README.md
  crates/updater/src/lib.rs
  examples/electron-simple/src/index.ts
  packages/electron-forge-plugin/CHANGELOG.md
  packages/electron-forge-plugin/README.md
  packages/electron-forge-plugin/package.json
  packages/electron-forge-plugin/src/config.ts
  packages/electron-forge-plugin/src/index.ts
  packages/electron-forge-plugin/src/plugin.ts
  packages/electron-forge-plugin/tsconfig.json
  packages/electron-forge-plugin/tsdown.config.ts
  packages/electron/src/async.ts
  packages/electron/src/errors.ts
  packages/electron/src/updater/errors.ts
  packages/electron/src/updater/updater.ts
  packages/electron/src/updater/updates-file.ts
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

wip
  crates/core/src/builder.rs
  crates/core/src/bundle.rs
  crates/core/src/checksum.rs
  crates/core/src/decoder.rs
  crates/core/src/encoder.rs
  crates/core/src/error.rs
  crates/core/src/header.rs
  crates/core/src/index.rs
  crates/core/src/lib.rs
  crates/core/src/reader.rs
  crates/core/src/version.rs
  crates/core/src/writer.rs
Due: format:rustfmt

wip
  crates/core/src/builder.rs
  crates/core/src/bundle.rs
  crates/core/src/header.rs
  crates/core/src/index.rs
  crates/core/src/lib.rs
  crates/core/src/writer.rs
Due: format:rustfmt

wip
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
  crates/core/src/builder.rs
  crates/core/src/bundle.rs
  crates/core/src/checksum.rs
  crates/core/src/error.rs
  crates/core/src/header.rs
  crates/core/src/index.rs
  crates/core/src/lib.rs
  crates/core/src/router/local.rs
  crates/core/src/router/mod.rs
  crates/core/src/router/router.rs
  crates/core/src/version.rs
  crates/loader/CHANGELOG.md
  crates/loader/Cargo.toml
  crates/loader/README.md
  crates/loader/src/fs.rs
  crates/loader/src/lib.rs
  crates/loader/src/local_router.rs
  crates/loader/src/mem.rs
  crates/loader/src/router.rs
  crates/loader/src/uri.rs
  crates/updater/README.md
  justfile
  lefthook.yml
  package.json
Due: format:rustfmt, format:taplo

wip
  Cargo.toml
  crates/core/src/error.rs
  crates/loader/README.md
  crates/loader/src/lib.rs
  crates/loader/src/local_router.rs
  crates/loader/src/router.rs
  crates/loader/src/uri.rs
  crates/protocol/CHANGELOG.md
  crates/protocol/Cargo.toml
  crates/protocol/README.md
  crates/protocol/src/error.rs
  crates/protocol/src/fetcher.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/loader.rs
  crates/protocol/src/protocol/local.rs
  crates/protocol/src/protocol/mod.rs
  crates/protocol/src/protocol/protocol.rs
  crates/protocol/src/uri.rs
Due: format:rustfmt, format:taplo

wip
  crates/core/Cargo.toml
  crates/core/src/builder.rs
  crates/core/src/bundle.rs
  crates/core/src/checksum.rs
  crates/core/src/header.rs
  crates/core/src/index.rs
  crates/core/src/lib.rs
  crates/core/src/reader.rs
  crates/core/src/router/local.rs
  crates/core/src/router/mod.rs
  crates/core/src/router/router.rs
  crates/core/src/version.rs
  crates/core/src/writer.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/error.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/source.rs
Due: format:rustfmt, format:taplo

wip
  crates/core/src/bundle.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/async_runtime.rs
  crates/protocol/src/error.rs
  crates/protocol/src/fetcher.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/loader.rs
  crates/protocol/src/protocol/local.rs
  crates/protocol/src/source.rs
Due: format:rustfmt, format:taplo

add usage
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
Due: format:biome

wip
  benchmarks/node-bining/create.bench.ts
  crates/core/src/bundle.rs
  crates/core/src/index.rs
  crates/protocol/src/protocol/bundle.rs
  crates/protocol/src/protocol/mod.rs
  crates/protocol/src/source.rs
  crates/protocol/tests/fixtures/nextjs.wvb
  packages/api/package.json
  packages/cli/package.json
  packages/cli/tsdown.config.ts
  packages/deployer-aws/package.json
  packages/deployer-github/package.json
  packages/deployer/package.json
  packages/electron-forge-plugin/package.json
  packages/electron/package.json
  packages/node-binding/src/lib.rs
  yarn.lock
Due: format:rustfmt, format:biome

wip
  Cargo.toml
  crates/core/src/bundle.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/async_runtime.rs
  crates/protocol/src/error.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol/bundle.rs
  crates/protocol/src/protocol/local.rs
  crates/protocol/src/protocol/protocol.rs
  crates/protocol/src/source.rs
  crates/protocol/src/uri.rs
  crates/protocol/tests/fixtures/nextjs.wvb
  crates/protocol/tests/fixtures/react.wvb
Due: format:rustfmt, format:taplo

wip
  Cargo.toml
  crates/core/src/bundle.rs
  crates/core/src/error.rs
  crates/core/src/index.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/error.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/mime_type.rs
  crates/protocol/src/protocol/bundle.rs
  crates/protocol/src/protocol/local.rs
  crates/protocol/src/protocol/mod.rs
  crates/protocol/src/protocol/protocol.rs
  crates/protocol/src/source.rs
  crates/protocol/src/uri.rs
  crates/tauri/Cargo.toml
  crates/tauri/README.md
  crates/tauri/src/cache.rs
  crates/tauri/src/config.rs
  crates/tauri/src/error.rs
  crates/tauri/src/lib.rs
  crates/tauri/src/loader.rs
  examples/tauri-simple/.gitignore
  examples/tauri-simple/Cargo.toml
  examples/tauri-simple/build.rs
  examples/tauri-simple/bundle/index.html
  examples/tauri-simple/bundle/index.js
  examples/tauri-simple/icons/icon.ico
  examples/tauri-simple/icons/icon.png
  examples/tauri-simple/package.json
  examples/tauri-simple/src/main.rs
  examples/tauri-simple/tauri.conf.json
  examples/tauri-simple/tsconfig.json
  justfile
  rustfmt.toml
Due: format:rustfmt, format:taplo, format:biome

works
  crates/core/Cargo.toml
  crates/protocol/Cargo.toml
  crates/tauri/Cargo.toml
  crates/tauri/build.rs
  crates/tauri/src/commands.rs
  crates/tauri/src/config.rs
  crates/tauri/src/desktop.rs
  crates/tauri/src/error.rs
  crates/tauri/src/lib.rs
  crates/tauri/src/models.rs
  examples/tauri-simple/package.json
  examples/tauri-simple/src-tauri/src/lib.rs
  examples/tauri-simple/src-tauri/tauri.conf.json
  packages/cli/src/commands/create.ts
Due: format:rustfmt, format:taplo, format:biome

works
  CHANGELOG.md
  crates/tauri/permissions/autogenerated/commands/ping.toml
  crates/tauri/permissions/autogenerated/reference.md
  crates/tauri/permissions/default.toml
  crates/tauri/permissions/schemas/schema.json
  xtask.json
Due: format:taplo

fix
  crates/tauri/CHANGELOG.md
  crates/tauri/README.md
  packages/electron-binding/CHANGELOG.md
  xtask/cli.ts
  xtask/commands/artifacts-merge.ts
  xtask/commands/artifacts-napi.ts
  xtask/commands/artifacts-spread.ts
  xtask/commands/attw.ts
  xtask/commands/release.ts
Due: format:biome

fix
  .yarnrc.yml
  biome.json
  crates/core/README.md
  examples/tauri-simple/src/main.tsx
  justfile
  package.json
  packages/electron-binding/index.d.ts
  packages/electron-binding/index.js
  packages/node-binding/index.d.ts
  packages/node-binding/index.js
Due: format:biome

fix
  examples/tauri-simple/vite.config.ts
  lefthook.yml
Due: format:biome

native-tls -> rustls-tls
  Cargo.toml
  crates/protocol/Cargo.toml
Due: format:taplo

add supported arch
  .yarnrc.yml
Due: none

fix: add yarn supported architectures (#51)
  .yarnrc.yml
Due: none

update gitattributes
  .gitattributes
Due: none

add codeowners
  .github/CODEOWNERS
Due: none

chore: update gitattributes (#53)
  .gitattributes
Due: none

chore: add codeowners (#54)
  .github/CODEOWNERS
Due: none

wip
  Cargo.toml
  crates/remote/CHANGELOG.md
  crates/remote/Cargo.toml
  crates/remote/README.md
  crates/remote/src/builder.rs
  crates/remote/src/config.rs
  crates/remote/src/error.rs
  crates/remote/src/github.rs
  crates/remote/src/lib.rs
Due: format:rustfmt, format:taplo

wip
  Cargo.toml
  crates/remote/Cargo.toml
  crates/remote/src/aws.rs
  crates/remote/src/common.rs
  crates/remote/src/error.rs
  crates/remote/src/github.rs
  crates/remote/src/lib.rs
  crates/remote/src/vercel.rs
Due: format:rustfmt, format:taplo
