Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: taplo fmt --colors=never {staged_files}

format:biome:
  run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

update cargo
  Cargo.toml
Due: format:taplo

feat(tauri): add cache option (#13)
  Cargo.toml
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/src/cache.rs
  crates/webview-bundle-tauri/src/config.rs
  crates/webview-bundle-tauri/src/lib.rs
  examples/tauri-simple/src/main.rs
Due: format:rustfmt, format:taplo

remove unused package
  packages/tauri/CHANGELOG.md
  packages/tauri/README.md
  packages/tauri/package.json
  yarn.lock
Due: none

update releases info
  releases.json
Due: none

make json schema for configs
  xtask/out-schema.mts
  xtask/package.json
  xtask/src/artifacts/config.ts
  xtask/src/release/config.ts
  yarn.lock
Due: format:biome

add schema
  artifacts.json
  releases.json
Due: none

chore(tauri): add releases info (#14)
  packages/tauri/CHANGELOG.md
  packages/tauri/README.md
  packages/tauri/package.json
  releases.json
  yarn.lock
Due: none

chore: add json schema of configs uses in xtask (#15)
  artifacts.json
  releases.json
  xtask/out-schema.mts
  xtask/package.json
  xtask/src/artifacts/config.ts
  xtask/src/release/config.ts
  yarn.lock
Due: format:biome

feat(tauri): webview bundle plugin for tauri v2 (#16)
  .github/actions/tauri-linux-setup/action.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
  Cargo.toml
  crates/webview-bundle-tauri/CHANGELOG.md
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/README.md
  crates/webview-bundle-tauri/src/cache.rs
  crates/webview-bundle-tauri/src/config.rs
  crates/webview-bundle-tauri/src/error.rs
  crates/webview-bundle-tauri/src/lib.rs
  crates/webview-bundle-tauri/src/loader.rs
  examples/tauri-simple/.gitignore
  examples/tauri-simple/Cargo.toml
  examples/tauri-simple/build.rs
  examples/tauri-simple/bundle/index.html
  examples/tauri-simple/bundle/index.js
  examples/tauri-simple/icons/icon.ico
  examples/tauri-simple/icons/icon.png
  examples/tauri-simple/package.json
  examples/tauri-simple/src/main.rs
  examples/tauri-simple/tauri.conf.json
  releases.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

to .mts file
  vitest.workspace.json
  vitest.workspace.mts
Due: format:biome

use `defineProject` instead of `defineConfig`
  packages/cli/vitest.config.mts
  packages/electron/vitest.config.mts
  packages/node-binding/vitest.config.mts
  xtask/vitest.config.mts
Due: format:biome

chore: use `defineProject` instead of `defineConfig` (#17)
  packages/cli/vitest.config.mts
  packages/electron/vitest.config.mts
  packages/node-binding/vitest.config.mts
  vitest.workspace.json
  vitest.workspace.mts
  xtask/vitest.config.mts
Due: format:biome

build -> out
  examples/electron-simple/package.json
Due: none

use node.js 20
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare-release.yaml
  .nvmrc
Due: none

remove deprecated option
  .github/actions/yarn-setup/action.yaml
Due: none

fix?
  tsconfig.json
  xtask/tsconfig.json
Due: none

different cache
  .github/actions/node-setup/action.yaml
  .github/actions/yarn-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare-release.yaml
  .github/workflows/release.yaml
Due: none

fix
  .github/workflows/release.yaml
Due: none

fix
  xtask/out-schema.mts
  xtask/out-schema.ts
Due: format:biome

naming
  .github/actions/node-setup/action.yaml
Due: none

fix
  xtask/package.json
Due: none

chore: use Node.js v20.18.0 (#18)
  .github/actions/node-setup/action.yaml
  .github/actions/yarn-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare-release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
  .nvmrc
  examples/electron-simple/package.json
  tsconfig.json
  xtask/out-schema.mts
  xtask/out-schema.ts
  xtask/package.json
  xtask/tsconfig.json
Due: format:biome

fix uri path ends with slash
  packages/electron/src/URI.spec.ts
  packages/electron/src/URI.ts
Due: format:biome

fix content type, decode uri
  packages/electron/src/protocol.ts
Due: format:biome

fix typecheck
  benchmarks/fixtures/react/src/main.tsx
  tsconfig.json
Due: format:biome

fix(electron): fix wrong handling for `content-type`, encoded uri, path with slash(`/`) ends (#20)
  packages/electron/src/URI.spec.ts
  packages/electron/src/URI.ts
  packages/electron/src/protocol.ts
Due: format:biome

add `@webview-bundle/publisher`
  packages/publisher/CHANGELOG.md
  packages/publisher/README.md
  packages/publisher/package.json
  packages/publisher/src/PublishOptions.ts
  packages/publisher/src/Publisher.ts
  packages/publisher/src/index.ts
  yarn.lock
Due: format:biome

add release info
  releases.json
Due: none

using fnm
  .github/actions/node-setup/action.yaml
  .node-version
Due: none

feat(publisher): add `@webview-bundle/publisher` (#21)
  .github/actions/node-setup/action.yaml
  .node-version
  packages/publisher/CHANGELOG.md
  packages/publisher/README.md
  packages/publisher/package.json
  packages/publisher/src/PublishOptions.ts
  packages/publisher/src/Publisher.ts
  packages/publisher/src/index.ts
  releases.json
  yarn.lock
Due: format:biome

add `AlreadyPublishedError`
  packages/publisher/package.json
  packages/publisher/src/AlreadyPublishedError.ts
  packages/publisher/src/index.ts
Due: format:biome

impl `@webview-bundle/publisher-github`
  packages/publisher-github/CHANGELOG.md
  packages/publisher-github/README.md
  packages/publisher-github/package.json
  packages/publisher-github/src/GitHubPublisher.ts
  packages/publisher-github/src/GitHubPublisherConfig.ts
  packages/publisher-github/src/github.ts
  packages/publisher-github/src/index.ts
Due: format:biome

remove unused files
  xtask/src/githubUtils.ts
Due: format:biome

update yarn
  yarn.lock
Due: none

feat: add `@webview-bundle/publisher-github` (#22)
  packages/publisher-github/CHANGELOG.md
  packages/publisher-github/README.md
  packages/publisher-github/package.json
  packages/publisher-github/src/GitHubPublisher.ts
  packages/publisher-github/src/GitHubPublisherConfig.ts
  packages/publisher-github/src/github.ts
  packages/publisher-github/src/index.ts
  packages/publisher/src/AlreadyPublishedError.ts
  packages/publisher/src/index.ts
  xtask/src/githubUtils.ts
  yarn.lock
Due: format:biome

use `.node-version`
  .node-version
  .nvmrc
Due: none

node 22
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
Due: none

don't ignore `Cargo.lock`
  .gitignore
  Cargo.lock
Due: none

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
