Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: yarn taplo fmt --colors=never {staged_files}
      stage_fixed: true
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    check:rust:
      glob: "*.rs"
      run: cargo clippy --workspace
    check:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

add config package
  xtask.json
Due: none

chore: add config package (#93)
  xtask.json
Due: none

wip
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/remote/upload.ts
  packages/config/src/remote/remote.ts
  yarn.lock
Due: format:biome, check:biome

wip
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/config.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/config/src/extract.ts
  packages/config/src/remote/remote.ts
  packages/config/src/serve.ts
Due: format:biome, check:biome

wip
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/utils/url.ts
  packages/config/src/remote/remote.ts
Due: format:biome, check:biome

wip
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/upload.ts
  packages/config/src/remote/aws.ts
  packages/config/src/remote/index.ts
  packages/config/src/remote/remote.ts
Due: format:biome, check:biome

wip
  .yarnrc.yml
  packages/config/src/index.ts
  packages/config/src/remote/deployer.ts
  packages/config/src/remote/index.ts
  packages/config/src/remote/integrity.ts
  packages/config/src/remote/remote.ts
  packages/config/src/remote/signature.spec.ts
  packages/config/src/remote/signature.ts
  packages/config/src/remote/uploader.ts
  packages/remote/aws-config/CHANGELOG.md
  packages/remote/aws-config/README.md
  packages/remote/aws-config/package.json
  packages/remote/aws-config/src/deployer.ts
  packages/remote/aws-config/src/index.ts
  packages/remote/aws-config/src/signature.ts
  packages/remote/aws-config/src/uploader.ts
  packages/remote/aws-config/tsconfig.json
  packages/remote/aws-config/tsdown.config.ts
  packages/remote/aws-config/vitest.config.ts
  yarn.lock
Due: format:biome, check:biome

update
  packages/remote/cloudflare-provider/src/index.ts
  packages/remote/cloudflare-provider/src/operations/getBundleDeployment.ts
  packages/remote/cloudflare-provider/src/operations/getBundleVersion.ts
  packages/remote/cloudflare-provider/src/operations/listBundleDeployments.ts
Due: format:biome, check:biome

works
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/config.ts
  packages/cli/src/constants.ts
  packages/config/src/remote/deployer.ts
  packages/config/src/remote/remote.ts
  packages/config/src/remote/uploader.ts
  packages/remote/aws/src/uploader.ts
Due: format:biome, check:biome

remove: unused S3Uploader and IntegrityMaker functionality
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/README.md
  packages/core/src/error.rs
  packages/core/src/integrity/maker.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/remote/mod.rs
  packages/core/src/remote/opendal.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/uploader/mod.rs
  packages/core/src/remote/uploader/s3.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/mod.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/remote_uploader.rs
  packages/node/__test__/remote.spec.ts
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/integrity.rs
  packages/node/src/remote/mod.rs
  packages/node/src/remote/remote.rs
  packages/node/src/remote/uploader/mod.rs
  packages/node/src/remote/uploader/s3.rs
  packages/node/src/signature.rs
  packages/node/src/updater.rs
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

fix
  packages/electron/src/api.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/renderer/api.ts
  packages/electron/src/renderer/index.ts
  packages/node/src/signature.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

fix xtask
  xtask.json
  xtask/.gen/staged.json
Due: none

fix tsc
  packages/cli/src/config/index.ts
  packages/cli/src/index.ts
  packages/cli/tsdown.config.ts
  packages/remote/aws-provider-pulumi/lambda/origin-request.ts
  packages/remote/aws-provider-pulumi/lambda/origin-response.ts
Due: format:biome, check:biome

setup website workspace
  justfile
  package.json
  website/.gitignore
  website/README.md
  website/app/(home)/layout.tsx
  website/app/(home)/page.tsx
  website/app/api/search/route.ts
  website/app/docs/[[...slug]]/page.tsx
  website/app/docs/layout.tsx
  website/app/global.css
  website/app/layout.tsx
  website/app/og/docs/[...slug]/route.tsx
  website/cloudflare-env.d.ts
  website/components/ai/page-actions.tsx
  website/content/docs/index.mdx
  website/content/docs/test.mdx
  website/lib/cn.ts
  website/lib/layout.shared.tsx
  website/lib/source.ts
  website/mdx-components.tsx
  website/next.config.ts
  website/open-next.config.ts
  website/package.json
  website/postcss.config.js
  website/public/_headers
  website/source.config.ts
  website/tsconfig.json
  website/wrangler.jsonc
  yarn.lock
Due: format:biome, check:biome

update
  website/.gitignore
  website/package.json
  website/wrangler.jsonc
  yarn.lock
Due: none

test
  website/README.md
Due: none

node 22.20.0
  .node-version
Due: none

exclude website build
  .github/workflows/ci.yaml
  justfile
Due: none

trigger cloudflare
  website/README.md
Due: none

update
  website/wrangler.jsonc
Due: none

add env
  website/package.json
Due: none

fix
  website/wrangler.jsonc
Due: none

test
  website/app/(home)/page.tsx
  website/cloudflare-env.d.ts
  website/wrangler.jsonc
Due: format:biome, check:biome

prouduction env
  website/package.json
  website/wrangler.jsonc
Due: none

feat(website): scaffold website with fumadocs (#98)
  .github/workflows/ci.yaml
  .node-version
  justfile
  package.json
  website/.gitignore
  website/README.md
  website/app/(home)/layout.tsx
  website/app/(home)/page.tsx
  website/app/api/search/route.ts
  website/app/docs/[[...slug]]/page.tsx
  website/app/docs/layout.tsx
  website/app/global.css
  website/app/layout.tsx
  website/app/og/docs/[...slug]/route.tsx
  website/cloudflare-env.d.ts
  website/components/ai/page-actions.tsx
  website/content/docs/index.mdx
  website/content/docs/test.mdx
  website/lib/cn.ts
  website/lib/layout.shared.tsx
  website/lib/source.ts
  website/mdx-components.tsx
  website/next.config.ts
  website/open-next.config.ts
  website/package.json
  website/postcss.config.js
  website/public/_headers
  website/source.config.ts
  website/tsconfig.json
  website/wrangler.jsonc
  yarn.lock
Due: format:biome, check:biome

fix(website): wrangler configuration (#99)
  website/wrangler.jsonc
Due: none

test
  website/app/(home)/page.tsx
  website/package.json
  website/wrangler.jsonc
Due: format:biome, check:biome

dev test
  website/app/(home)/page.tsx
Due: format:biome, check:biome

production
  website/app/(home)/page.tsx
Due: format:biome, check:biome

remove dev env
  website/package.json
Due: none

fix: add release channel and refactor CLI operations
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/console.ts
  packages/cli/src/index.ts
  packages/cli/src/operations/builtin.ts
  packages/cli/src/operations/create.ts
  packages/cli/src/operations/error.ts
  packages/cli/src/operations/extract.ts
  packages/cli/src/operations/remote/upload.ts
  packages/cli/src/operations/serve.ts
  packages/config/src/remote/uploader.ts
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/source.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

feat: enhance CLI and remote operations with progress tracking and modular configurations
  packages/cli/src/cli.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/console.ts
  packages/cli/src/index.ts
  packages/cli/src/log.ts
  packages/cli/src/operations/builtin.ts
  packages/cli/src/operations/create.ts
  packages/cli/src/operations/error.ts
  packages/cli/src/operations/remote/logging.ts
  packages/cli/src/utils/coerce.ts
  packages/config/src/builtin.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/config/src/extract.ts
  packages/config/src/index.ts
  packages/core/src/remote/remote.rs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/remote/remote.rs
  packages/tauri/src/config.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

feat: add disk cleanup action to workflows
  .github/actions/free-disk-space/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix one more
  website/package.json
Due: none
