Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: taplo fmt --colors=never {staged_files}
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

wip
  .github/actions/node-setup/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
  xtask/package.json
  xtask/src/build-napi/BuildNApiCommand.ts
  xtask/src/github.ts
  xtask/src/index.ts
  xtask/src/release/PrepareReleasePRCommand.ts
  xtask/src/release/ReleaseCommand.ts
  xtask/src/release/changelog.ts
  xtask/src/release/config.ts
  xtask/src/workspaceUtils.ts
  yarn.lock
Due: format:biome

rename bin
  crates/webview-bundle-cli/Cargo.toml
Due: format:taplo

ignores
  packages/binding/.gitignore
  packages/binding/.npmignore
  packages/cli/.gitignore
  packages/cli/.npmignore
Due: none

impl xtask
  xtask/package.json
  xtask/src/artifacts/ArtifactsMergeCommand.ts
  xtask/src/artifacts/ArtifactsSpreadCommand.ts
  xtask/src/artifacts/config.ts
  xtask/src/build-napi/BuildNApiCommand.ts
  xtask/src/gitUtils.ts
  xtask/src/index.ts
  xtask/src/release/PrepareReleaseCommand.ts
  xtask/src/release/PrepareReleasePRCommand.ts
  xtask/src/release/ReleaseCommand.ts
  xtask/src/release/action.ts
  xtask/src/release/changelog.ts
  xtask/src/release/package.ts
Due: format:biome

update gitignore
  .gitignore
Due: none

add artifacts config
  artifacts.json
Due: none

update yarn
  yarn.lock
Due: none

add GitHub Actions workflows for release
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
Due: none

update
  packages/binding/package.json
  packages/cli/package.json
Due: none

opes -> ops
  xtask/src/release/conventionalCommit.ts
Due: format:biome

binding -> node-binding
  Cargo.toml
  artifacts.json
  biome.json
  packages/node-binding/.cargo/config.toml
  packages/node-binding/.gitignore
  packages/node-binding/.npmignore
  packages/node-binding/CHANGELOG.md
  packages/node-binding/Cargo.toml
  packages/node-binding/README.md
  packages/node-binding/__test__/index.spec.ts
  packages/node-binding/binding.d.ts
  packages/node-binding/binding.js
  packages/node-binding/build.rs
  packages/node-binding/index.d.ts
  packages/node-binding/index.js
  packages/node-binding/npm/darwin-arm64/README.md
  packages/node-binding/npm/darwin-arm64/package.json
  packages/node-binding/npm/darwin-x64/README.md
  packages/node-binding/npm/darwin-x64/package.json
  packages/node-binding/npm/linux-arm64-gnu/README.md
  packages/node-binding/npm/linux-arm64-gnu/package.json
  packages/node-binding/npm/linux-arm64-musl/README.md
  packages/node-binding/npm/linux-arm64-musl/package.json
  packages/node-binding/npm/linux-x64-gnu/README.md
  packages/node-binding/npm/linux-x64-gnu/package.json
  packages/node-binding/npm/linux-x64-musl/README.md
  packages/node-binding/npm/linux-x64-musl/package.json
  packages/node-binding/npm/win32-arm64-msvc/README.md
  packages/node-binding/npm/win32-arm64-msvc/package.json
  packages/node-binding/npm/win32-ia32-msvc/README.md
  packages/node-binding/npm/win32-ia32-msvc/package.json
  packages/node-binding/npm/win32-x64-msvc/README.md
  packages/node-binding/npm/win32-x64-msvc/package.json
  packages/node-binding/package.json
  packages/node-binding/src/lib.rs
  packages/node-binding/vitest.config.mts
  releases.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

binding -> node-binding
  packages/node-binding/Cargo.toml
  packages/node-binding/binding.js
  packages/node-binding/package.json
  yarn.lock
Due: format:taplo, format:biome

refactor(node-binding): renaming package `@webview-bundle/binding` into `@webview-bundle/node-binding` (#7)
  Cargo.toml
  artifacts.json
  biome.json
  packages/node-binding/.cargo/config.toml
  packages/node-binding/.gitignore
  packages/node-binding/.npmignore
  packages/node-binding/CHANGELOG.md
  packages/node-binding/Cargo.toml
  packages/node-binding/README.md
  packages/node-binding/__test__/index.spec.ts
  packages/node-binding/binding.d.ts
  packages/node-binding/binding.js
  packages/node-binding/build.rs
  packages/node-binding/index.d.ts
  packages/node-binding/index.js
  packages/node-binding/npm/darwin-arm64/README.md
  packages/node-binding/npm/darwin-arm64/package.json
  packages/node-binding/npm/darwin-x64/README.md
  packages/node-binding/npm/darwin-x64/package.json
  packages/node-binding/npm/linux-arm64-gnu/README.md
  packages/node-binding/npm/linux-arm64-gnu/package.json
  packages/node-binding/npm/linux-arm64-musl/README.md
  packages/node-binding/npm/linux-arm64-musl/package.json
  packages/node-binding/npm/linux-x64-gnu/README.md
  packages/node-binding/npm/linux-x64-gnu/package.json
  packages/node-binding/npm/linux-x64-musl/README.md
  packages/node-binding/npm/linux-x64-musl/package.json
  packages/node-binding/npm/win32-arm64-msvc/README.md
  packages/node-binding/npm/win32-arm64-msvc/package.json
  packages/node-binding/npm/win32-ia32-msvc/README.md
  packages/node-binding/npm/win32-ia32-msvc/package.json
  packages/node-binding/npm/win32-x64-msvc/README.md
  packages/node-binding/npm/win32-x64-msvc/package.json
  packages/node-binding/package.json
  packages/node-binding/src/lib.rs
  packages/node-binding/vitest.config.mts
  releases.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

wip
  justfile
  packages/electron/package.json
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/electron/src/renderer/index.ts
  packages/electron/vitest.config.mts
  yarn.lock
Due: format:biome

wip
  examples/electron-simple/.gitignore
  examples/electron-simple/bundle/index.html
  examples/electron-simple/bundle/index.js
  examples/electron-simple/package.json
  examples/electron-simple/src/index.ts
  justfile
  package.json
  packages/electron/package.json
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  yarn.lock
Due: format:biome

add xtask command for building js library
  xtask/package.json
  xtask/src/build/BuildJSLibraryCommand.ts
  xtask/src/build/buildDTS.ts
  xtask/src/build/buildJSFiles.ts
  xtask/src/index.ts
Due: format:biome

impl `@webview-bundle/electron`
  README.md
  examples/electron-simple/bundle/index.html
  examples/electron-simple/bundle/index.js
  examples/electron-simple/package.json
  examples/electron-simple/src/index.ts
  packages/electron/package.json
  packages/electron/src/Cache.ts
  packages/electron/src/FSLoader.spec.ts
  packages/electron/src/FSLoader.ts
  packages/electron/src/Loader.ts
  packages/electron/src/URI.spec.ts
  packages/electron/src/URI.ts
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/electron/src/renderer/index.ts
  yarn.lock
Due: format:biome

add release info
  packages/electron/CHANGELOG.md
  releases.json
Due: none

feat(electron): implement `@webview-bundle/electron` package (#8)
  README.md
  examples/electron-simple/.gitignore
  examples/electron-simple/bundle/index.html
  examples/electron-simple/bundle/index.js
  examples/electron-simple/package.json
  examples/electron-simple/src/index.ts
  justfile
  package.json
  packages/electron/CHANGELOG.md
  packages/electron/package.json
  packages/electron/src/Cache.ts
  packages/electron/src/FSLoader.spec.ts
  packages/electron/src/FSLoader.ts
  packages/electron/src/Loader.ts
  packages/electron/src/URI.spec.ts
  packages/electron/src/URI.ts
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/electron/vitest.config.mts
  releases.json
  xtask/package.json
  xtask/src/build/BuildJSLibraryCommand.ts
  xtask/src/build/buildDTS.ts
  xtask/src/build/buildJSFiles.ts
  xtask/src/index.ts
  yarn.lock
Due: format:biome

remove unused dependencies
  examples/electron-simple/package.json
  packages/cli/package.json
  packages/electron/package.json
  packages/node-binding/package.json
  yarn.lock
Due: none

add readme
  examples/electron-simple/README.md
  packages/electron/README.md
  packages/node-binding/README.md
Due: none

not using knope
  justfile
Due: none

build-debug -> build
  justfile
Due: none

chore: remove unused dependencies (#9)
  examples/electron-simple/README.md
  examples/electron-simple/package.json
  justfile
  packages/cli/package.json
  packages/electron/README.md
  packages/electron/package.json
  packages/node-binding/README.md
  packages/node-binding/package.json
  yarn.lock
Due: none

fix cli not throws error
  packages/cli/src/lib.rs
Due: format:rustfmt

fix(cli): cli not throws error (#10)
  packages/cli/src/lib.rs
Due: format:rustfmt

wip
  Cargo.toml
  crates/webview-bundle-tauri/CHANGELOG.md
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/README.md
  crates/webview-bundle-tauri/src/lib.rs
  examples/tauri-simple/.gitignore
  examples/tauri-simple/Cargo.toml
  examples/tauri-simple/build.rs
  examples/tauri-simple/icons/icon.png
  examples/tauri-simple/package.json
  examples/tauri-simple/src/main.rs
  examples/tauri-simple/tauri.conf.json
  packages/tauri/CHANGELOG.md
  packages/tauri/README.md
  packages/tauri/package.json
  yarn.lock
Due: format:rustfmt, format:taplo

upgrade yarn 4.5.1
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: format:biome

tauri plugin
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/src/config.rs
  crates/webview-bundle-tauri/src/error.rs
  crates/webview-bundle-tauri/src/lib.rs
  crates/webview-bundle-tauri/src/loader.rs
Due: format:rustfmt, format:taplo

test example
  examples/tauri-simple/.gitignore
  examples/tauri-simple/Cargo.toml
  examples/tauri-simple/bundle/index.html
  examples/tauri-simple/bundle/index.js
  examples/tauri-simple/package.json
  examples/tauri-simple/src/main.rs
  examples/tauri-simple/tauri.conf.json
Due: format:rustfmt, format:taplo, format:biome

update cargo and yarn
  Cargo.toml
  yarn.lock
Due: format:taplo

remove paths rules
  .github/workflows/pull_request.yaml
Due: none

chore: upgrade yarn 4.5.1 (#11)
  .github/workflows/pull_request.yaml
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: format:biome

needs for windows
  examples/tauri-simple/icons/icon.ico
Due: none

tauri needs extra deps in linux
  .github/actions/rust-setup/action.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
Due: none

separate
  .github/actions/rust-setup/action.yaml
  .github/actions/tauri-linux-setup/action.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
Due: none

feat(tauri): PoC for tauri supports in desktop environment (#12)
  .github/actions/tauri-linux-setup/action.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/release.yaml
  Cargo.toml
  crates/webview-bundle-tauri/CHANGELOG.md
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/README.md
  crates/webview-bundle-tauri/src/config.rs
  crates/webview-bundle-tauri/src/error.rs
  crates/webview-bundle-tauri/src/lib.rs
  crates/webview-bundle-tauri/src/loader.rs
  examples/tauri-simple/.gitignore
  examples/tauri-simple/Cargo.toml
  examples/tauri-simple/build.rs
  examples/tauri-simple/bundle/index.html
  examples/tauri-simple/bundle/index.js
  examples/tauri-simple/icons/icon.ico
  examples/tauri-simple/icons/icon.png
  examples/tauri-simple/package.json
  examples/tauri-simple/src/main.rs
  examples/tauri-simple/tauri.conf.json
  packages/tauri/CHANGELOG.md
  packages/tauri/README.md
  packages/tauri/package.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

add cache
  crates/webview-bundle-tauri/Cargo.toml
  crates/webview-bundle-tauri/src/cache.rs
  crates/webview-bundle-tauri/src/config.rs
  crates/webview-bundle-tauri/src/lib.rs
Due: format:rustfmt, format:taplo

example
  examples/tauri-simple/src/main.rs
Due: format:rustfmt
