Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: yarn taplo fmt --colors=never {staged_files}
  stage_fixed: true

format:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check:rust:
  run: cargo clippy --workspace

check:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

feat: enhance CLI operations with progress tracking and modular updates (#102)
  .github/actions/free-disk-space/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  packages/cli/src/cli.ts
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/deploy.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/console.ts
  packages/cli/src/index.ts
  packages/cli/src/log.ts
  packages/cli/src/operations/builtin.ts
  packages/cli/src/operations/create.ts
  packages/cli/src/operations/error.ts
  packages/cli/src/operations/extract.ts
  packages/cli/src/operations/remote/logging.ts
  packages/cli/src/operations/remote/upload.ts
  packages/cli/src/operations/serve.ts
  packages/cli/src/utils/coerce.ts
  packages/config/src/builtin.ts
  packages/config/src/config.ts
  packages/config/src/create.ts
  packages/config/src/extract.ts
  packages/config/src/index.ts
  packages/config/src/remote/uploader.ts
  packages/core/src/remote/remote.rs
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/remote/remote.rs
  packages/node/src/source.rs
  packages/tauri/src/config.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

chore: add comprehensive doc comments for public API
  packages/core/README.md
  packages/core/src/bundle.rs
  packages/core/src/header.rs
  packages/core/src/index.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/local.rs
  packages/core/src/remote/mod.rs
  packages/core/src/signature/mod.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/version.rs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/bundle.rs
  packages/node/src/integrity.rs
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
Due: format:rustfmt, format:biome, check:rust, check:biome

chore: update Cargo.toml with detailed description and consistent formatting adjustments
  packages/core/Cargo.toml
Due: format:taplo

fix: update dependencies and adjust type annotations
  .yarnrc.yml
  xtask/.gen/staged.json
  xtask/changes.ts
  xtask/package.json
  yarn.lock
Due: format:biome, check:biome

chore: update Cargo.toml and add API documentation (#104)
  packages/core/Cargo.toml
  packages/core/README.md
  packages/core/src/bundle.rs
  packages/core/src/header.rs
  packages/core/src/index.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/local.rs
  packages/core/src/remote/mod.rs
  packages/core/src/signature/mod.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/version.rs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/bundle.rs
  packages/node/src/integrity.rs
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

fix
  xtask/package.json
  yarn.lock
Due: none

fix docker
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

?
  .github/actions/run-docker/Dockerfile
  .github/actions/run-docker/action.yaml
  .github/actions/run-docker/entrypoint.sh
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

update
  .github/actions/run-docker/Dockerfile
  .github/actions/run-docker/action.yaml
  .github/actions/run-docker/entrypoint.sh
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

fix: update `xtask` dependencies and adjust type annotations (#105)
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  .yarnrc.yml
  xtask/.gen/staged.json
  xtask/changes.ts
  xtask/package.json
  yarn.lock
Due: format:biome, check:biome

fix: enforce immutable yarn installation in CI workflows
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix: enforce immutable yarn installation in CI workflows (#108)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

remove tauri setup on release workflow
  .github/workflows/release.yaml
Due: none

remove node setup if docker build
  .github/workflows/release.yaml
Due: none

fix release workflow
  .github/workflows/release.yaml
Due: none

chore: replace Biome with Oxlint and Oxfmt, update lefthook configuration
  .oxfmtrc.json
  .oxlintrc.json
  biome.json
  justfile
  lefthook.yml
  package.json
  yarn.lock
Due: none

lint
  .oxlintrc.json
  bench/fixtures/next/tsconfig.json
  examples/electron-forge-vite/tsconfig.json
  examples/tauri-simple/tsconfig.json
  examples/tauri-simple/tsconfig.node.json
  examples/tauri-simple/vite.config.ts
  justfile
  lefthook.yml
  package.json
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/config.ts
  packages/node/__test__/remote.spec.ts
  packages/remote/aws-provider/src/operations/listBundleDeployments.ts
  packages/remote/cloudflare-provider/src/operations/listBundleDeployments.ts
  website/components/ai/page-actions.tsx
  website/tsconfig.json
  xtask/action.ts
  xtask/changelog.ts
  xtask/tsconfig.json
  xtask/version.ts
  yarn.lock
Due: format:biome, check:biome

fix
  packages/cli/src/config.ts
Due: format:biome, check:biome

ignore toml file
  .oxfmtrc.json
  lefthook.yml
Due: none

update ci
  .github/workflows/ci.yaml
Due: none

add taplo cli
  package.json
  yarn.lock
Due: none

fix
  .github/workflows/ci.yaml
Due: none

fix
  Cargo.toml
  justfile
  packages/core/Cargo.toml
  packages/node/index.cjs
  packages/node/index.js
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/freebsd-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  xtask/.scripts/create-schema.ts
  xtask/action.ts
  xtask/cli.ts
  xtask/commands/release.ts
  xtask/console.ts
  xtask/git.ts
  xtask/package.json
  yarn.lock
Due: format:taplo, format:biome, check:biome

update repo
  packages/cli/package.json
  packages/config/package.json
  packages/core/Cargo.toml
  packages/electron/package.json
  packages/node/Cargo.toml
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/freebsd-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  packages/remote/aws-provider-pulumi/package.json
  packages/remote/aws-provider/package.json
  packages/remote/aws/package.json
  packages/remote/cloudflare-provider-pulumi/package.json
  packages/remote/cloudflare-provider/package.json
  packages/remote/cloudflare/package.json
  packages/tauri/Cargo.toml
Due: format:taplo

comment
  .github/workflows/docker.yaml
Due: none

fix
  justfile
  xtask/package.json
Due: none

chore: fix xtask release scripts (#110)
  .github/workflows/docker.yaml
  Cargo.toml
  justfile
  packages/cli/package.json
  packages/config/package.json
  packages/core/Cargo.toml
  packages/electron/package.json
  packages/node/Cargo.toml
  packages/node/index.cjs
  packages/node/index.js
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/freebsd-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  packages/remote/aws-provider-pulumi/package.json
  packages/remote/aws-provider/package.json
  packages/remote/aws/package.json
  packages/remote/cloudflare-provider-pulumi/package.json
  packages/remote/cloudflare-provider/package.json
  packages/remote/cloudflare/package.json
  packages/tauri/Cargo.toml
  xtask/.scripts/create-schema.ts
  xtask/action.ts
  xtask/cli.ts
  xtask/commands/release.ts
  xtask/console.ts
  xtask/git.ts
  xtask/package.json
  yarn.lock
Due: format:taplo, format:biome, check:biome

fix release process
  .yarnrc.yml
  Cargo.toml
  packages/core/Cargo.toml
  xtask/.gen/staged.json
  xtask/action.ts
  xtask/commands/release.ts
Due: format:taplo, format:biome, check:biome

remove unused workflows, dependencies, and binaries; add Android targets
  .github/actions/free-disk-space/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  .yarnrc.yml
  alpine.Dockerfile
  debian-aarch64.Dockerfile
  debian.Dockerfile
  packages/node/npm/android-arm-eabi/README.md
  packages/node/npm/android-arm-eabi/package.json
  packages/node/npm/android-arm64/README.md
  packages/node/npm/android-arm64/package.json
  packages/node/npm/freebsd-x64/README.md
  packages/node/package.json
  yarn.lock
Due: none

fix
  .yarnrc.yml
Due: none

fix ci
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fail fast
  xtask/commands/release.ts
Due: format:biome, check:biome

chore: remove unused workflows, dependencies, and binaries; add Android targets (#111)
  .github/actions/free-disk-space/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  .yarnrc.yml
  alpine.Dockerfile
  debian-aarch64.Dockerfile
  debian.Dockerfile
  packages/node/npm/android-arm-eabi/README.md
  packages/node/npm/android-arm-eabi/package.json
  packages/node/npm/android-arm64/README.md
  packages/node/npm/android-arm64/package.json
  packages/node/npm/freebsd-x64/README.md
  packages/node/package.json
  xtask/commands/release.ts
  yarn.lock
Due: format:biome, check:biome

release commit [skip actions]
  CHANGELOG.md
  Cargo.toml
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/electron/CHANGELOG.md
  packages/electron/package.json
  packages/remote/aws-provider-pulumi/CHANGELOG.md
  packages/remote/aws-provider-pulumi/package.json
  packages/remote/aws-provider/CHANGELOG.md
  packages/remote/aws-provider/package.json
  packages/remote/aws/CHANGELOG.md
  packages/remote/aws/package.json
  packages/remote/cloudflare-provider-pulumi/CHANGELOG.md
  packages/remote/cloudflare-provider-pulumi/package.json
  packages/remote/cloudflare-provider/CHANGELOG.md
  packages/remote/cloudflare-provider/package.json
  packages/remote/cloudflare/CHANGELOG.md
  packages/remote/cloudflare/package.json
  packages/tauri/CHANGELOG.md
  packages/tauri/Cargo.toml
  xtask/.gen/staged.json
Due: format:taplo

update
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/config/package.json
  packages/electron/package.json
  packages/remote/aws-provider-pulumi/package.json
  packages/remote/aws-provider/package.json
  packages/remote/aws/package.json
  packages/remote/cloudflare-provider-pulumi/package.json
  packages/remote/cloudflare-provider/package.json
  packages/remote/cloudflare/package.json
  packages/tauri/Cargo.toml
  vitest.workspace.ts
  xtask/.gen/staged.json
  xtask/commands/artifacts-napi.ts
  xtask/commands/release.ts
Due: format:taplo, format:biome, check:biome

use main branch
  xtask/commands/release.ts
Due: format:biome, check:biome

fix
  Cargo.toml
Due: format:taplo

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
  check:rust: any of: *.rs
  check:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
