Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: taplo fmt --colors=never {staged_files}

format:biome:
  run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

use stable channel
  rust-toolchain.toml
Due: format:taplo

update justfile
  justfile
Due: none

chore: use rust stable channel (#24)
  .gitignore
  Cargo.lock
  rust-toolchain.toml
Due: format:taplo

chore: upgrade node version 22.15.0 (#23)
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
  .node-version
  .nvmrc
Due: none

chore: update justfile (#25)
  justfile
Due: none

upgrade yarn 4.9.1
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: format:biome

upgrade typescript 5.8.3
  benchmarks/fixtures/next/package.json
  benchmarks/fixtures/react/package.json
  benchmarks/tools/package.json
  examples/electron-simple/package.json
  examples/tauri-simple/package.json
  package.json
  xtask/package.json
  yarn.lock
Due: none

pre-requirements
  justfile
  package.json
  xtask/package.json
Due: none

upgrade vitest 3.1.2
  benchmarks/electron/package.json
  benchmarks/node-bining/package.json
  package.json
  packages/cli/package.json
  packages/electron/package.json
  packages/node-binding/package.json
  xtask/package.json
  yarn.lock
Due: none

rollback
  xtask/package.json
Due: none

chore: upgrade yarn 4.9.1 (#27)
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  justfile
  package.json
  xtask/package.json
Due: format:biome

update
  yarn.lock
Due: none

fix
  packages/node-binding/__test__/index.spec.ts
Due: format:biome

chore: upgrade typescript 5.8.3 (#26)
  benchmarks/fixtures/next/package.json
  benchmarks/fixtures/react/package.json
  benchmarks/tools/package.json
  examples/electron-simple/package.json
  examples/tauri-simple/package.json
  package.json
  xtask/package.json
  yarn.lock
Due: none

chore: upgrade vitest 3.1.2 (#28)
  benchmarks/electron/package.json
  benchmarks/node-bining/package.json
  package.json
  packages/cli/package.json
  packages/electron/package.json
  packages/node-binding/__test__/index.spec.ts
  packages/node-binding/package.json
  xtask/package.json
  yarn.lock
Due: format:biome

test2
  xtask/src/commands/release.rs
Due: format:rustfmt

test3
  releases.json
  xtask/src/changelog.rs
  xtask/src/commands/release.rs
Due: format:rustfmt

test4
  xtask/src/commands/release.rs
Due: format:rustfmt

test5
  xtask/src/commands/release.rs
Due: format:rustfmt

test5
  justfile
  xtask/src/actions.rs
  xtask/src/changes.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/release.rs
  xtask/src/conventional_commit.rs
  xtask/src/main.rs
  xtask/src/versioned_git_tag.rs
Due: format:rustfmt

test6
  xtask/src/commands/release.rs
Due: format:rustfmt

tsup
  packages/electron/package.json
  packages/electron/tsconfig.json
  packages/electron/tsup.config.mts
  yarn.lock
Due: format:biome

fix
  xtask/src/versioned_file/cargo.rs
  xtask/src/versioned_file/package_json.rs
Due: format:rustfmt

fix
  xtask/src/commands/release.rs
Due: format:rustfmt

fix
  xtask/src/changelog.rs
Due: format:rustfmt

fix
  xtask.json
Due: none

update workflows
  .github/actions/node-setup/action.yaml
  .github/workflows/release.yaml
Due: none

macros, provenance
  .github/workflows/release.yaml
  xtask/src/macros.rs
  xtask/src/main.rs
  xtask/src/versioned_file/cargo.rs
  xtask/src/versioned_file/package_json.rs
Due: format:rustfmt

cleanup
  packages/electron/tsconfig.json
Due: none

remove typecheck step
  .github/workflows/ci.yaml
Due: none

alias
  justfile
Due: none

chore: rewrite xtask with Rust (#29)
  .github/actions/node-setup/action.yaml
  .github/workflows/prepare-release.yaml
  .github/workflows/release.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/webview-bundle-cli/Cargo.toml
  justfile
  packages/cli/Cargo.toml
  packages/electron/tsup.config.mts
  xtask/Cargo.toml
  xtask/src/actions.rs
  xtask/src/cargo.rs
  xtask/src/changelog.rs
  xtask/src/changes.rs
  xtask/src/cli.rs
  xtask/src/commands/artifacts.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/release.rs
  xtask/src/config.rs
  xtask/src/conventional_commit.rs
  xtask/src/error.rs
  xtask/src/exec.rs
  xtask/src/github.rs
  xtask/src/macros.rs
  xtask/src/main.rs
  xtask/src/package.rs
  xtask/src/version.rs
  xtask/src/versioned_file/cargo.rs
  xtask/src/versioned_file/mod.rs
  xtask/src/versioned_file/package_json.rs
  xtask/src/versioned_file/package_manager.rs
  xtask/src/versioned_file/versioned_file.rs
  xtask/src/versioned_git_tag.rs
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome

updae
  .github/workflows/release.yaml
Due: none

add missing xtask config
  xtask.json
Due: none

schema
  .gitignore
  xtask.json
  xtask/Cargo.toml
  xtask/src/commands/mod.rs
  xtask/src/commands/schema.rs
  xtask/src/config.rs
  xtask/src/main.rs
Due: format:rustfmt, format:taplo

update publisher
  packages/publisher-github/package.json
  packages/publisher-github/src/config.ts
  packages/publisher-github/src/github.ts
  packages/publisher-github/src/index.ts
  packages/publisher-github/src/publisher.ts
  packages/publisher-github/tsup.config.ts
  packages/publisher/package.json
  packages/publisher/src/AlreadyPublishedError.ts
  packages/publisher/src/PublishOptions.ts
  packages/publisher/src/errors.ts
  packages/publisher/src/index.ts
  packages/publisher/src/publisher.ts
  packages/publisher/tsup.config.ts
  yarn.lock
Due: format:biome

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
