Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

format:rustfmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

format:taplo:
  run: yarn taplo fmt --colors=never {staged_files}
  stage_fixed: true

format:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check:rust:
  run: cargo clippy --workspace

check:biome:
  run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore: fix xtask artifacts missing platforms (#112)
  .github/workflows/release.yaml
  Cargo.toml
  packages/cli/package.json
  packages/config/package.json
  packages/electron/package.json
  packages/remote/aws-provider-pulumi/package.json
  packages/remote/aws-provider/package.json
  packages/remote/aws/package.json
  packages/remote/cloudflare-provider-pulumi/package.json
  packages/remote/cloudflare-provider/package.json
  packages/remote/cloudflare/package.json
  packages/tauri/Cargo.toml
  vitest.workspace.ts
  xtask/.gen/staged.json
  xtask/commands/artifacts-napi.ts
  xtask/commands/release.ts
Due: format:taplo, format:biome, check:biome

fix: correct crate URL format in changelog generation
  xtask/changelog.ts
Due: format:biome, check:biome

fix: ensure prerelease and release scripts run only on main branch
  justfile
Due: none

fix
  xtask/commands/artifacts-napi.ts
Due: format:biome, check:biome

fix: xtask artifacts napi, crate url (#113)
  justfile
  xtask/changelog.ts
  xtask/commands/artifacts-napi.ts
Due: format:biome, check:biome

release commit [skip actions]
  CHANGELOG.md
  Cargo.toml
  packages/node/CHANGELOG.md
  packages/node/Cargo.toml
  packages/node/npm/android-arm-eabi/package.json
  packages/node/npm/android-arm64/package.json
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  xtask/.gen/staged.json
Due: format:taplo

fix
  packages/node/npm/android-arm-eabi/package.json
  packages/node/npm/android-arm64/package.json
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  xtask/.gen/staged.json
  xtask/commands/release.ts
Due: format:biome, check:biome

update
  packages/node/index.cjs
  packages/node/index.js
  packages/node/package.json
  xtask/cli.ts
  xtask/commands/napi-artifacts.ts
  xtask/commands/napi-build.ts
  xtask/commands/release.ts
Due: format:biome, check:biome

fix
  xtask/commands/release.ts
Due: format:biome, check:biome

fix(xtask): fix commit changes (#114)
  packages/node/index.cjs
  packages/node/index.js
  packages/node/npm/android-arm-eabi/package.json
  packages/node/npm/android-arm64/package.json
  packages/node/npm/darwin-arm64/package.json
  packages/node/npm/darwin-x64/package.json
  packages/node/npm/linux-arm-gnueabihf/package.json
  packages/node/npm/linux-arm64-gnu/package.json
  packages/node/npm/linux-arm64-musl/package.json
  packages/node/npm/linux-x64-gnu/package.json
  packages/node/npm/linux-x64-musl/package.json
  packages/node/npm/win32-arm64-msvc/package.json
  packages/node/npm/win32-ia32-msvc/package.json
  packages/node/npm/win32-x64-msvc/package.json
  packages/node/package.json
  xtask/.gen/staged.json
  xtask/cli.ts
  xtask/commands/napi-artifacts.ts
  xtask/commands/napi-build.ts
  xtask/commands/release.ts
Due: format:biome, check:biome

fix: handle missing staged file gracefully
  xtask/staged.ts
Due: format:biome, check:biome

fix trigger manually
  .github/workflows/website.yaml
  website/package.json
  website/wrangler.jsonc
Due: none

fix(xtask): handle missing staged file gracefully (#115)
  xtask/staged.ts
Due: format:biome, check:biome

fix(website): separate dev env (#100)
  .github/workflows/website.yaml
  website/app/(home)/page.tsx
  website/package.json
  website/wrangler.jsonc
Due: format:biome, check:biome

add tokens
  .github/workflows/website.yaml
Due: none

fix(website): add cloudflare token to deploy (#116)
  .github/workflows/website.yaml
Due: none

Path conditions:
  format:rustfmt: any of: *.rs
  format:taplo: any of: *.toml
  format:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
  check:rust: any of: *.rs
  check:biome: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts}
