Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: taplo fmt --colors=never {staged_files}
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

feat(publisher, publisher-github): add github publisher (#33)
  .github/actions/node-setup/action.yaml
  packages/publisher-github/CHANGELOG.md
  packages/publisher-github/README.md
  packages/publisher-github/package.json
  packages/publisher-github/src/config.ts
  packages/publisher-github/src/github.ts
  packages/publisher-github/src/index.ts
  packages/publisher-github/src/publisher.ts
  packages/publisher-github/tsup.config.ts
  packages/publisher/CHANGELOG.md
  packages/publisher/README.md
  packages/publisher/package.json
  packages/publisher/src/errors.ts
  packages/publisher/src/index.ts
  packages/publisher/src/publisher.ts
  packages/publisher/tsup.config.ts
  xtask.json
  xtask/cli.ts
  xtask/commands/artifacts-napi-command.ts
  yarn.lock
Due: format:biome

use rust toolchain
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

chore: update license (#38)
  LICENSE
Due: none

chore: use rust toolchain (#40)
  .github/actions/rust-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

fix: add optional dependencies (#39)
  package.json
  packages/cli/package.json
  packages/node-binding/npm/darwin-arm64/package.json
  packages/node-binding/npm/darwin-x64/package.json
  packages/node-binding/npm/linux-arm64-gnu/package.json
  packages/node-binding/npm/linux-arm64-musl/package.json
  packages/node-binding/npm/linux-x64-gnu/package.json
  packages/node-binding/npm/linux-x64-musl/package.json
  packages/node-binding/npm/win32-arm64-msvc/package.json
  packages/node-binding/npm/win32-x64-msvc/package.json
  packages/node-binding/package.json
  yarn.lock
Due: none

wip
  Cargo.toml
  crates/webview-bundle-cli/src/commands/extract.rs
  crates/webview-bundle-cli/src/commands/pack.rs
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/README.md
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/decoder.rs
  crates/webview-bundle/src/encoder.rs
  crates/webview-bundle/src/error.rs
  xtask/action.ts
Due: format:rustfmt, format:taplo, format:biome

update justfile
  justfile
Due: none

add checksum spec
  crates/webview-bundle/README.md
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/decoder.rs
  crates/webview-bundle/src/encoder.rs
  crates/webview-bundle/src/error.rs
Due: format:rustfmt

fix changes
  crates/webview-bundle-cli/src/commands/extract.rs
Due: format:rustfmt

apply changes
  packages/node-binding/__test__/index.spec.ts
  packages/node-binding/src/lib.rs
Due: format:rustfmt, format:biome

feat(core,cli,node-binding): add checksum in webview bundle format (#41)
  Cargo.toml
  crates/webview-bundle-cli/src/commands/extract.rs
  crates/webview-bundle-cli/src/commands/pack.rs
  crates/webview-bundle/Cargo.toml
  crates/webview-bundle/README.md
  crates/webview-bundle/src/builder.rs
  crates/webview-bundle/src/bundle.rs
  crates/webview-bundle/src/decoder.rs
  crates/webview-bundle/src/encoder.rs
  crates/webview-bundle/src/error.rs
  justfile
  packages/node-binding/__test__/index.spec.ts
  packages/node-binding/src/lib.rs
  xtask/action.ts
Due: format:rustfmt, format:taplo, format:biome

add tag refs
  xtask/commands/release-command.ts
Due: format:biome

log
  xtask/commands/release-command.ts
Due: format:biome

fix filename
  xtask/commands/artifacts-napi-command.ts
Due: format:biome

chore: update xtask git push command (#42)
  xtask/commands/release-command.ts
Due: format:biome

fix: xtask `artifacts napi` command filename parsing error (#43)
  xtask/commands/artifacts-napi-command.ts
Due: format:biome

fix publishing
  xtask/action.ts
  xtask/versioned-file.ts
Due: format:biome

format
  packages/node-binding/Cargo.toml
Due: format:taplo

ignore err
  xtask/action.ts
  xtask/versioned-file.ts
Due: format:biome

fix: xtask cargo publish processes (#44)
  packages/node-binding/Cargo.toml
  xtask/action.ts
  xtask/versioned-file.ts
Due: format:taplo, format:biome

fix: xtask cargo break version
  xtask/action.ts
  xtask/versioned-file.ts
Due: format:biome

fix: prerelease version to be fixed
  xtask/cargo-toml.ts
  xtask/commands/release-command.ts
  xtask/versioned-file.ts
Due: format:biome

chore: add release commands
  justfile
Due: none

fix: can publish condition
  xtask/versioned-file.ts
Due: format:biome

fix: xtask npm publish command
  xtask/versioned-file.ts
Due: format:biome

fix: npm publish provenance
  .github/workflows/release.yaml
Due: none

fix: npm token
  .github/workflows/release.yaml
  xtask/commands/release-command.ts
Due: format:biome

fix: xtask npm publish config
  xtask/commands/release-command.ts
Due: format:biome

fix: npm publish provenance
  packages/cli/npm/darwin-arm64/package.json
  packages/cli/npm/darwin-x64/package.json
  packages/cli/npm/linux-arm64-gnu/package.json
  packages/cli/npm/linux-arm64-musl/package.json
  packages/cli/npm/linux-x64-gnu/package.json
  packages/cli/npm/linux-x64-musl/package.json
  packages/cli/npm/win32-arm64-msvc/package.json
  packages/cli/npm/win32-x64-msvc/package.json
  packages/node-binding/npm/darwin-arm64/package.json
  packages/node-binding/npm/darwin-x64/package.json
  packages/node-binding/npm/linux-arm64-gnu/package.json
  packages/node-binding/npm/linux-arm64-musl/package.json
  packages/node-binding/npm/linux-x64-gnu/package.json
  packages/node-binding/npm/linux-x64-musl/package.json
  packages/node-binding/npm/win32-arm64-msvc/package.json
  packages/node-binding/npm/win32-x64-msvc/package.json
Due: none

fix: use exact version for optional dependencies
  packages/cli/package.json
  packages/node-binding/package.json
  yarn.lock
Due: none

fix: color supports
  .github/workflows/release.yaml
  xtask/console.ts
  xtask/package.json
  yarn.lock
Due: format:biome

fix: enable colors in github actions
  xtask/console.ts
  xtask/package.json
  yarn.lock
Due: format:biome

upgrade yarn 4.9.2
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: format:biome

chore: upgrade yarn 4.9.2 (#45)
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: format:biome

update biome v2
  benchmarks/electron/apps/fs/main.ts
  benchmarks/electron/apps/wvb/main.ts
  benchmarks/fixtures/next/lib/getProducts.ts
  benchmarks/fixtures/next/pages/_app.tsx
  biome.json
  examples/electron-simple/src/index.ts
  package.json
  packages/cli/__test__/index.spec.ts
  packages/cli/webview-bundle.js
  packages/electron/src/index.ts
  packages/node-binding/binding.d.cts
  packages/node-binding/index.js
  packages/node-binding/package.json
  packages/publisher-github/src/index.ts
  packages/publisher-github/src/publisher.ts
  packages/publisher/src/index.ts
  tsconfig.json
  xtask/commands/release-command.ts
  xtask/version.ts
  yarn.lock
Due: format:biome

fix
  packages/cli/__test__/index.spec.ts
Due: format:biome

chore: upgrade biome v2 (#46)
  benchmarks/electron/apps/fs/main.ts
  benchmarks/electron/apps/wvb/main.ts
  benchmarks/fixtures/next/lib/getProducts.ts
  benchmarks/fixtures/next/pages/_app.tsx
  biome.json
  examples/electron-simple/src/index.ts
  package.json
  packages/cli/__test__/index.spec.ts
  packages/cli/webview-bundle.js
  packages/electron/src/index.ts
  packages/node-binding/binding.d.cts
  packages/node-binding/index.js
  packages/node-binding/package.json
  packages/publisher-github/src/index.ts
  packages/publisher-github/src/publisher.ts
  packages/publisher/src/index.ts
  tsconfig.json
  xtask/commands/release-command.ts
  xtask/version.ts
  yarn.lock
Due: format:biome

attw, typecheck
  .gitignore
  justfile
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/electron/package.json
  packages/electron/tsconfig.json
  packages/electron/tsup.config.ts
  packages/node-binding/index.cjs
  packages/node-binding/index.d.cts
  packages/node-binding/package.json
  packages/node-binding/tsconfig.json
  packages/publisher-github/package.json
  packages/publisher-github/tsconfig.json
  packages/publisher-github/tsup.config.ts
  packages/publisher/package.json
  packages/publisher/tsconfig.json
  packages/publisher/tsup.config.ts
  xtask/action.ts
  xtask/child_process.ts
  xtask/cli.ts
  xtask/commands/attw-command.ts
  xtask/package.json
  xtask/tsconfig.json
  xtask/workspaces.ts
  yarn.lock
Due: format:biome
