Repository seokju-na/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:rustfmt:
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    format:taplo:
      glob: "*.toml"
      run: yarn taplo fmt --colors=never {staged_files}
      stage_fixed: true
    format:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    check:rust:
      glob: "*.rs"
      run: cargo clippy --workspace
    check:biome:
      glob: "*.{js,ts,jsx,tsx,cjs,mjs,cts,mts}"
      run: yarn biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

wip
  crates/remote/Cargo.toml
  crates/remote/src/aws.rs
  crates/remote/src/common.rs
  crates/remote/src/error.rs
  crates/remote/src/lib.rs
  crates/remote/src/s3.rs
Due: format:rustfmt, format:taplo, check:rust

impl
  .github/workflows/ci.yaml
  Cargo.toml
  crates/core/Cargo.toml
  crates/remote/Cargo.toml
  crates/remote/src/common.rs
  crates/remote/src/error.rs
  crates/remote/src/github.rs
  crates/remote/src/lib.rs
  crates/remote/src/s3.rs
  crates/remote/src/vercel.rs
  crates/remote/tests/fixtures/nextjs.wvb
  docker-compose.yaml
  xtask.json
Due: format:rustfmt, format:taplo, check:rust

feat(remote): add `webview-bundle-remote` crate (#57)
  .github/workflows/ci.yaml
  Cargo.toml
  crates/core/Cargo.toml
  crates/remote/CHANGELOG.md
  crates/remote/Cargo.toml
  crates/remote/README.md
  crates/remote/src/builder.rs
  crates/remote/src/common.rs
  crates/remote/src/config.rs
  crates/remote/src/error.rs
  crates/remote/src/github.rs
  crates/remote/src/lib.rs
  crates/remote/src/s3.rs
  crates/remote/src/vercel.rs
  crates/remote/tests/fixtures/nextjs.wvb
  docker-compose.yaml
  xtask.json
Due: format:rustfmt, format:taplo, check:rust

separate uploader impl
  Cargo.toml
  crates/remote/Cargo.toml
  crates/remote/src/builder.rs
  crates/remote/src/common.rs
  crates/remote/src/config.rs
  crates/remote/src/error.rs
  crates/remote/src/http.rs
  crates/remote/src/lib.rs
  crates/remote/src/opendal.rs
  crates/remote/src/remote.rs
  crates/remote/src/uploader/mod.rs
  crates/remote/src/uploader/s3.rs
  crates/remote/src/vercel.rs
  crates/remote/tests/smoke.rs
Due: format:rustfmt, format:taplo, check:rust

`upload` -> `upload_bundle`
  crates/remote/src/uploader/mod.rs
  crates/remote/src/uploader/s3.rs
  crates/remote/tests/smoke.rs
Due: format:rustfmt, check:rust

feat(remote): separate uploader logic from remote (#59)
  Cargo.toml
  crates/remote/Cargo.toml
  crates/remote/src/builder.rs
  crates/remote/src/common.rs
  crates/remote/src/config.rs
  crates/remote/src/error.rs
  crates/remote/src/http.rs
  crates/remote/src/lib.rs
  crates/remote/src/opendal.rs
  crates/remote/src/remote.rs
  crates/remote/src/uploader/mod.rs
  crates/remote/src/uploader/s3.rs
  crates/remote/src/vercel.rs
  crates/remote/tests/smoke.rs
Due: format:rustfmt, format:taplo, check:rust

works
  packages/cli/npm/android-arm-eabi/README.md
  packages/cli/npm/android-arm-eabi/package.json
  packages/cli/npm/android-arm64/README.md
  packages/cli/npm/android-arm64/package.json
  packages/cli/npm/darwin-arm64/README.md
  packages/cli/npm/darwin-arm64/package.json
  packages/cli/npm/darwin-x64/README.md
  packages/cli/npm/darwin-x64/package.json
  packages/cli/npm/freebsd-x64/README.md
  packages/cli/npm/freebsd-x64/package.json
  packages/cli/npm/linux-arm-gnueabihf/README.md
  packages/cli/npm/linux-arm-gnueabihf/package.json
  packages/cli/npm/linux-arm64-gnu/README.md
  packages/cli/npm/linux-arm64-gnu/package.json
  packages/cli/npm/linux-arm64-musl/README.md
  packages/cli/npm/linux-arm64-musl/package.json
  packages/cli/npm/linux-x64-gnu/README.md
  packages/cli/npm/linux-x64-gnu/package.json
  packages/cli/npm/linux-x64-musl/README.md
  packages/cli/npm/linux-x64-musl/package.json
  packages/cli/npm/win32-arm64-msvc/README.md
  packages/cli/npm/win32-arm64-msvc/package.json
  packages/cli/npm/win32-ia32-msvc/README.md
  packages/cli/npm/win32-ia32-msvc/package.json
  packages/cli/npm/win32-x64-msvc/README.md
  packages/cli/npm/win32-x64-msvc/package.json
  xtask.json
  xtask/changelog.ts
  xtask/commands/release.ts
  xtask/config.ts
  xtask/package.ts
  xtask/versioned-file.ts
Due: format:biome, check:biome

rm unused
  xtask/changes.ts
Due: format:biome, check:biome

update
  .gitattributes
  packages/cli/binding/lib.rs
  packages/electron/binding/lib.rs
Due: format:rustfmt, check:rust

fix
  .github/workflows/ci.yaml
  biome.json
Due: none

fix
  packages/electron/package.json
Due: none

refactor
  .cargo/config.toml
  Cargo.toml
  bench/electron/apps/wvb/main.ts
  bench/electron/vitest.global-setup.ts
  bench/fixtures/bundles/versions.json
  bench/tools/src/fixtures.ts
  examples/tauri-simple/package.json
  packages/cli/__test__/binding.spec.ts
  packages/cli/binding.cjs
  packages/cli/binding.d.cts
  packages/cli/binding.d.ts
  packages/cli/binding.js
  packages/cli/package.json
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/utils/headers.ts
  packages/core/src/napi/bundle.rs
  packages/core/src/napi/http.rs
  packages/core/src/napi/protocol.rs
  packages/core/src/napi/protocol/bundle.rs
  packages/core/src/napi/protocol/local.rs
  packages/core/src/napi/protocol/mod.rs
  packages/electron/binding.cjs
  packages/electron/binding.d.cts
  packages/electron/binding.d.ts
  packages/electron/binding.js
  packages/electron/package.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

napi 3.3.0
  Cargo.toml
Due: format:taplo

napi 3.3.0
  packages/core/Cargo.toml
  packages/core/tests/remote_uploader.rs
Due: format:rustfmt, format:taplo, check:rust

update cargo config
  .cargo/config.toml
Due: format:taplo

1.90.0
  rust-toolchain.toml
Due: format:taplo

?
  .github/workflows/ci.yaml
  Cargo.toml
  rust-toolchain.toml
Due: format:taplo

fix
  .cargo/config.toml
  Cargo.toml
  packages/cli/Cargo.toml
  packages/cli/binding.cjs
  packages/cli/binding.d.cts
  packages/cli/binding.d.ts
  packages/cli/binding.js
  packages/cli/binding/lib.rs
  packages/cli/package.json
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/lib.rs
  packages/core/src/napi/error.rs
  packages/core/src/napi/version.rs
  packages/electron/Cargo.toml
  packages/electron/binding/lib.rs
  packages/electron/package.json
  packages/napi/CHANGELOG.md
  packages/napi/Cargo.toml
  packages/napi/README.md
  packages/napi/src/bundle.rs
  packages/napi/src/error.rs
  packages/napi/src/http.rs
  packages/napi/src/lib.rs
  packages/napi/src/protocol.rs
  packages/napi/src/remote/http.rs
  packages/napi/src/remote/mod.rs
  packages/napi/src/remote/remote.rs
  packages/napi/src/source.rs
  packages/napi/src/version.rs
  xtask.json
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

fix
  packages/cli/binding.d.cts
Due: format:biome, check:biome

wip
  .gitignore
  packages/cli/src/commands/remote-s3-uplaod.ts
  packages/cli/src/main.ts
  packages/core/src/remote/uploader/s3.rs
  packages/node/Cargo.toml
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/js.rs
  packages/node/src/lib.rs
  packages/node/src/remote/http.rs
  packages/node/src/remote/mod.rs
  packages/node/src/remote/opendal.rs
  packages/node/src/remote/uploader/mod.rs
  packages/node/src/remote/uploader/s3.rs
  packages/remote-cloudflare/.gitignore
  packages/remote-cloudflare/package.json
  packages/remote-cloudflare/sample/main.ts
  packages/remote-cloudflare/src/context.ts
  packages/remote-cloudflare/src/index.ts
  packages/remote-cloudflare/src/operations/listAllBundleStores.ts
  packages/remote-cloudflare/src/operations/listBundleStores.ts
  packages/remote-cloudflare/src/types/store.ts
  packages/remote-cloudflare/test.wvb
  packages/remote-cloudflare/tsconfig.json
  packages/remote-cloudflare/tsdown.config.ts
  packages/remote-cloudflare/vitest.config.ts
  packages/remote-cloudflare/wrangler.jsonc
  yarn.lock
Due: format:rustfmt, format:taplo, format:biome, check:rust, check:biome

wip
  packages/remote-cloudflare/sample/main.ts
  packages/remote-cloudflare/src/index.ts
  packages/remote-cloudflare/src/operations/getBundleData.ts
  packages/remote-cloudflare/src/operations/getBundleStore.ts
  packages/remote-cloudflare/src/operations/listBundleStores.ts
  packages/remote-cloudflare/src/types/info.ts
Due: format:biome, check:biome

build
  examples/remote-cloudflare-with-pulumi/.gitignore
  examples/remote-cloudflare-with-pulumi/Pulumi.dev.yaml
  examples/remote-cloudflare-with-pulumi/Pulumi.yaml
  examples/remote-cloudflare-with-pulumi/README.md
  examples/remote-cloudflare-with-pulumi/index.ts
  examples/remote-cloudflare-with-pulumi/package.json
  examples/remote-cloudflare-with-pulumi/tsconfig.json
  packages/remote-cloudflare-pulumi/CHANGELOG.md
  packages/remote-cloudflare-pulumi/README.md
  packages/remote-cloudflare-pulumi/package.json
  packages/remote-cloudflare-pulumi/src/index.ts
  packages/remote-cloudflare-pulumi/src/provider.ts
  packages/remote-cloudflare-pulumi/tsconfig.json
  packages/remote-cloudflare-pulumi/tsdown.config.ts
  packages/remote-cloudflare-pulumi/worker-script.ts
  packages/remote-cloudflare/.gitignore
  packages/remote-cloudflare/CHANGELOG.md
  packages/remote-cloudflare/README.md
  packages/remote-cloudflare/sample/main.ts
  packages/remote-cloudflare/src/index.ts
  packages/remote-cloudflare/src/types/info.ts
  packages/remote-cloudflare/test.wvb
  packages/remote-cloudflare/worker-configuration.d.ts
  packages/remote-cloudflare/wrangler.jsonc
  yarn.lock
Due: format:biome, check:biome

fix
  xtask.json
Due: none

scope
  xtask.json
Due: none

fix
  .github/workflows/ci.yaml
  packages/node/package.json
Due: none

fix
  .github/workflows/ci.yaml
Due: none

fix
  packages/remote/aws/src/operations/getBundleDeployment.ts
  packages/remote/aws/src/utils.ts
Due: format:biome, check:biome

test
  examples/remote-aws-with-pulumi/index.ts
Due: format:biome, check:biome

fix
  bench/fixtures/next/tsconfig.json
  bench/fixtures/react/tsconfig.json
  biome.json
  examples/electron-simple/bundles/versions.json
  examples/remote-aws-with-pulumi/tsconfig.json
  examples/remote-cloudflare-with-pulumi/tsconfig.json
  examples/tauri-simple/src-tauri/capabilities/default.json
  examples/tauri-simple/src-tauri/tauri.conf.json
  package.json
  packages/tauri/permissions/schemas/schema.json
  xtask/child_process.ts
  xtask/tsconfig.json
  yarn.lock
Due: format:biome, check:biome
